<div class="o-createAccountPage">
    <div class="c-table">
      <div class="c-table--row">
        <div class="c-table--cell">
            <div class="c-registration">
              <span class="c-registration__icon"></span>
              <!-- <div class="logo circle">
                  <aer-icon>aerum</aer-icon>
              </div> -->
              <div class="c-registration__wrap">
  
                  <!-- Step 1 begin -->
                  <div class="c-registration__step1" *ngIf="step == 'step_1'">
                    <h1>{{ 'CREATE_NEW_ACCOUNT' | translate }}</h1>
                    <div class="c-registration__cta">
                        <p>
                            {{ 'SIGNED_UP_PREFIX' | translate }} <a routerLink="/login">{{ 'SIGNED_UP_LINK' | translate }}</a> {{ 'SIGNED_UP_SUFFIX' | translate }}
                        </p>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                      <span class="c-info">{{ 'CHOOSE_AVATAR' | translate }}</span>
                      <app-avatar-select formControlName="avatar"></app-avatar-select>
                      <span class="c-info">{{ 'UNIQUE_AVATAR' | translate }}</span> 
                      <input formControlName="password" type="password" name="password" placeholder="Protect Your Account with a New Password">
                      <input formControlName="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password">
                      <span *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="login-error">You must include a password.</span>
                      <span *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched" class="login-error">Your password must be at least 10 characters long.</span>   
                      <span *ngIf="form.controls['password'].hasError('upper') && form.controls['password'].touched" class="login-error">upper error</span>          
                      <span *ngIf="form.controls['password'].hasError('lower') && form.controls['password'].touched" class="login-error">lower error</span> 
                      <span *ngIf="form.controls['password'].hasError('number') && form.controls['password'].touched" class="login-error">number error</span>                                                 
                      <span *ngIf="form.controls['confirmpassword'].hasError('notEquivalent') && form.controls['confirmpassword'].touched && !form.controls['confirmpassword'].pristine" class="login-error">Confirm Password Does not match</span>        
                      <button type="submit" [disabled]="!form.valid" >Continue</button> 
                    </form>
                  </div>
                  <!-- Step 1 end -->
  
                  <!-- Step 2 begin -->
                  <div class="c-registration__step2 u-center" *ngIf="step == 'step_2'">
                      <h1>{{ 'CREATE_BACKUP' | translate }}</h1>
                      <div class="c-registration__cta">
                          <p>
                              {{ 'BACKUP_PHRASE' | translate }}
                          </p>
                      </div>
                      <p>
                          <button type="submit" (click)="proceedStep3('datamodel')">
                            {{ 'CREATE_BACKUP' | translate }}
                          </button>
                      </p>
                      <p>
                        <span class="u-horizLine">
                            {{ 'OR' | translate }}
                        </span>
                      </p>
                      <p>
                        
                        <a class="c-link" href="#">
                            {{ 'SKIP_STEP' | translate }}
                        </a>
                      </p>
                  </div>                
                  <!-- Step 2 end -->
  
                  <!-- Step 3 begin -->
                  <div class="c-registration__step3 u-center" *ngIf="step == 'step_3'">
                      <h1>{{ 'SAVE_PHRASE' | translate }}</h1>
                      <div class="c-registration__cta">
                          <p>
                              {{ 'SAVE_PHRASE_Text' | translate }}
                          </p>
                      </div>
                      <p>
                          <aer-button class="o-downloadFile" (click)="saveSeedToFile()" color="blue" size="small">{{ 'SAVE_FILE' | translate }}</aer-button>
                      </p>
                      <p>
                        <span class="u-horizLine">
                            {{ 'OR' | translate }}
                        </span>
                      </p>
                      <div class="c-info">
                          Please carefully write down these 15 words or 
                          <button class="c-link" type="button"
                                  [disabled]="!seed"
                                  [clipboard]="copyToClipboard.innerHTML.trim()"
                                  (clipboardCopy)="logSuccess( $event )"
                                  (clipboardError)="logError( $event )">
                                  copy them
                          </button>
                      </div> 
                      <div class="c-seedContainer u-displayOnly u-locked" #copyToClipboard>
                          <span class="c-seed__word u-plain" *ngFor="let s of seed">{{ s }} </span> 
                      </div>  
                      <button type="submit" (click)="proceedStep4()">
                          {{ 'SAVED_IT' | translate }}
                      </button>                      
                  </div>                
                  <!-- Step 3 end -->
  
                  <!-- Step 4 begin -->
                  <div class="c-registration__step4 u-center" *ngIf="step == 'step_4'">
                      <h1>{{ 'CONFIRM_BACKUP' | translate }}</h1>
                      <div class="c-registration__cta">
                          <p>
                              {{ 'CONFIRM_BACKUP_TEXT' | translate }}
                          </p>
                      </div>                  
                      <div class="c-seedContainer u-selectionSeed">
                          <span class="c-seed__word u-full" [class.u-removeSeed]="item.selected" (click)="select(item)" *ngFor="let item of items">{{ item.name }}</span> 
                      </div>  
                      <div class="c-seedContainer u-displayOnly c-seedContainer__dynamic">
                        <span class="c-seed__word u-full" *ngFor="let item of selectedItems; let i = index" (click)="unSelect(item, i)">{{ item.name }}</span> 
                      </div>  
                      <p>
                          <button type="submit" (click)="authenticateUser()" mat-button mat-raised-button [disabled]="!isEqual" > {{ 'CONFIRM' | translate }}</button>
                      </p>
                      <p>
                          <span class="u-horizLine">
                              {{ 'OR' | translate }}
                          </span>
                      </p>                    
                      <p>
                          <button type="button" class="aer-button--clear" (click)="newSeedConfirm()">
                              {{ 'CLEAR' | translate }}
                          </button>                         
                      </p>
                  </div>                
                  <!-- Step 4 end -->                
  
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  