<div aerRow class="explorer">
    <div aerColumn size="sm-12 md-12">
        <h3>{{'BLOCKS'|translate}}</h3>
        <aer-card>
            <aer-table [data]="blocks" [paginator]="false">
                <ng-template aerTemplate="header">
                    <th sortable id="id" class="">{{'HEIGHT'|translate}}</th>
                    <th id="lastSeen" class="">{{'AGE'|translate}}</th>
                    <th sortable id="gas" class="">{{'TXN'|translate}}</th>
                    <th id="gasPrice" class="">{{'GAS_USED'|translate}}</th>
                    <th id="value" class="">{{'GAS_LIMIT'|translate}}</th>
                </ng-template>
                <ng-template aerTemplate="body" let-block>
                    <tr>
                        <td class="link hash" (click)="openBlock(block)">{{block.number}}</td>
                        <td class="age">{{ block.timestamp | transactionTimeAgo }}</td>
                        <td>{{block.transactions.length}}</td>
                        <td>{{block.gasUsed}}</td>
                        <td>{{block.gasLimit}}</td>
                    </tr>
                </ng-template>
            </aer-table>
            <app-divider [showLine]="false"></app-divider>
            <aer-button  class="full-width blue" (buttonFn)="loadBlocks()">{{'SHOW_MORE'|translate}}</aer-button>
        </aer-card>
    </div>
</div>