<aer-modal-container>
  <form (ngSubmit)="onSubmitAddress()" [formGroup]="unlockForm">
    <div class="account login">
      <div class="header">{{'LOGIN'|translate}}</div>
      <app-divider></app-divider>
      <div class="b-text">{{'LOGIN_TEXT1'|translate}}
        <span>{{'LOGIN_TEXT2'|translate}}</span>
        <a routerLink="/account/register">{{'LOGIN_TEXT3'|translate}}</a>
      </div> 
      <app-divider [showLine]="false"></app-divider>
      <aer-input type="password" 
      [ngClass]="{'has-error': passwordIncorrect}" icon="key" placeholder="{{'PASSWORD'|translate}}" [(ngModel)]="password" formControlName="password" ngDefaultControl></aer-input>
      <div class="button">
        <aer-button class="large full-width" type="submit">{{'LOGIN'|translate}}</aer-button>
      </div>
      <div class="link-text">
        <a routerLink="/account/restore">{{'RESTORE_ACCOUNT'|translate}}</a>
        <div>{{'FROM_BACKUP'|translate}}</div>
      </div>
    </div>
  </form>
</aer-modal-container>
