  <aer-modal-container>
  <form (ngSubmit)="onSubmitAddress()" [formGroup]="unlockForm">
    <div class="account login">
      <div class="header">{{'ACCOUNT.UNLOCK.TITLE'|translate}}</div>
      <app-divider></app-divider>
      <div class="b-text">
        {{'ACCOUNT.UNLOCK.SUBTITLE'|translate}}
        <a [routerLink]="['/account/register']" [queryParams]="returnUrl ? {returnUrl: returnUrl} : null">{{'ACCOUNT.UNLOCK.REGISTER_LINK'|translate}}</a>
      </div>
      <app-divider [showLine]="false"></app-divider>
      <aer-input type="password"
      [ngClass]="{'has-error': passwordIncorrect}" icon="key" [placeholder]="'ACCOUNT.UNLOCK.PWD_PLACEHOLDER' | translate" [(ngModel)]="password" formControlName="password" ngDefaultControl></aer-input>
      <app-divider [showLine]="false"></app-divider>
      <app-divider [showLine]="false"></app-divider>
      <aer-button class="large full-width" type="submit">{{'ACCOUNT.UNLOCK.UNLOCK_BTN'|translate}}</aer-button>
      <div class="link-text">
        <a [routerLink]="['/account/restore']" [queryParams]="returnUrl ? {returnUrl: returnUrl} : null">{{'ACCOUNT.UNLOCK.RESTORE_LINK'|translate}}</a>
        <div>{{'ACCOUNT.UNLOCK.RESTORE_LINK_DESC'|translate}}</div>
      </div>
    </div>
  </form>
</aer-modal-container>
