<aer-modal-dialog>
    <div class="explorer detail-modal" *ngIf="transaction">
    <div class="o-closeModal">
        <div class="o-closeModal__btn" (click)="dismiss()">
            <svg class="o-closeModal__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve">
              <g><path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                  c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                  C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                  s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>                  
        </div>        
      </div>         
      <div class="title">{{'TRANSACTION'|translate}}</div>
      <app-divider></app-divider>
      <div class="link copy" (click)="openTxn(transaction.hash)">{{transaction.hash | slice:0:20}}...{{transaction.hash | slice:-18}}</div> 
      <div><p class="aer-small">{{transaction.timestamp | transactionTimeStamp }}</p></div>
      <div class="age">({{transaction.timestamp | transactionTimeAgo  }})</div>
        <div class="transaction-table">
        <div class="tr">
          <div class="name">
            {{'AMOUNT'|translate}} 
          </div>
          <div class="value">
            {{transaction.value | convertToEther }} {{'AERO'|translate}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'FROM'|translate}}
          </div>
          <div class="value copy" (click)="copyToClipboard(transaction.from)">
            {{transaction.from | slice:0:16}}...{{transaction.from | slice:-14}}
          </div> 
        </div>
        <div class="tr">
            <div class="name">
              {{'TO'|translate}}
            </div>
            <div class="value" [ngClass]="{'copy': transaction.to}" (click)="copyToClipboard(transaction.to)">
                <div *ngIf="!transaction.to; then contractTxn else normalTxn"></div>
                <ng-template #normalTxn>
                    {{transaction.to | slice:0:16}}...{{transaction.to | slice:-14}}
                </ng-template>
                <ng-template #contractTxn>
                  [Contract Creation Transaction]
                </ng-template>    
            </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_USED'|translate}}
          </div>
          <div class="value">
              {{transaction.gasUsedinTxn }}
          </div>
        </div>
        <div class="tr">
          <div class="name"> 
            {{'TRANSACTION_COST'|translate}}
          </div>
          <div class="value">
              {{transaction.gasUsedinTxn * transaction.gasPrice | convertToEther}} {{'AERO'|translate}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_PRICE'|translate}}
          </div>
          <div class="value">
              {{transaction.gasPrice | convertToEther  }} {{'AERO'|translate}}
          </div>
        </div>
        <div *ngIf="transaction.blockNumber" class="tr">
          <div class="name">
            {{'BLOCK'|translate}}
          </div>
          <div class="value link" (click)="openBlock(transaction.blockNumber)">
              {{transaction.blockNumber}}
          </div>
        </div>
        <div class="tr" *ngIf="transaction.input.length > 3">
          <div class="name">
            {{'SEND_DATA'|translate}}
          </div>
          <div class="value">
              <div *ngIf="!transaction.to; then contractTxn else normalTxn"></div>
              <ng-template #normalTxn>
                  <div *ngIf="showHexData; then hex else text"></div>
                  <ng-template #text>
                      {{transaction.input|hextoAscii}} 
                  </ng-template>
                  <ng-template #hex>
                      {{transaction.input}} 
                  </ng-template>    
              </ng-template>
              <ng-template #contractTxn>
                [Contract Creation Transaction]
              </ng-template>            
          </div>
        </div>
        </div>
        <div class="tr button" *ngIf="transaction.to && transaction.input > 3">
            <aer-button (click)="convert()" class="small blue">{{btnText}}</aer-button>
        </div>        
      <aer-button (click)="close()" class="large full-width">Close</aer-button>
    </div>
  </aer-modal-dialog>
