<aer-content class="explorer">
    <h1>{{'BLOCKS'|translate}}</h1>
    <aer-card>
        <div class="dataTable-info-label">
                <label>Showing Block (#{{getLowestBlockNumber()}} to #{{getHighestBlockNumber()}}) out of {{getBlocksCount()}} total blocks</label>
        </div>
        <table>
            <thead>
                <th class="">{{'HEIGHT'|translate}}</th>
                <th class="">{{'AGE'|translate}}</th>
                <th class="">{{'TXN'|translate}}</th>
                <th class="">{{'SIGNER'|translate}}</th>
                <th class="">{{'GAS_USED'|translate}}</th>
                <th class="">{{'GAS_LIMIT'|translate}}</th>
                <th class="">{{'REWARD'|translate}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let block of blocks">
                    <td class="link" (click)="openBlock(block)">{{block.number}}</td>
                    <td class="age">{{getBlockAge(block.timestamp)}} minutes ago</td>
                    <td>{{block.transactions.length}}</td>
                    <td class="link">{{block.signer}}</td>
                    <td>{{block.gasUsed}} (94.65%)</td>
                    <td>{{block.gasLimit}}</td>
                    <td>{{block.reward}}</td>
                </tr>
            </tbody>
        </table>
    </aer-card>
</aer-content>
