<div class="explorer">
    <h1>{{'BLOCKS'|translate}}</h1>
    <aer-card>
        <div class="dataTable-info-label">
            <label>{{'SHOWING_BLOCK'|translate: { lowestBlockNumber: lowBlock, highestBlockNumber: highBlock, blocksCount: countblocks } }}</label>
        </div>
        <table>
            <thead>
                <th class="">{{'HEIGHT'|translate}}</th>
                <th class="">{{'AGE'|translate}}</th>
                <th class="">{{'TXN'|translate}}</th>
                <th class="">{{'GAS_USED'|translate}}</th>
                <th class="">{{'GAS_LIMIT'|translate}}</th>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let block of blocks |  orderby: {property: column, order: order} "> -->
                    <tr *ngFor="let block of blocks">
                    <td class="link" (click)="openBlock(block)">{{block.number}}</td>
                    <td class="age">{{ block.timestamp | transactionTimeAgo }}</td>
                    <td>{{block.transactions.length}}</td>
                    <td>{{block.gasUsed}}</td>
                    <td>{{block.gasLimit}}</td>
                </tr>
            </tbody>
        </table>
    </aer-card>
</div>
