<!-- <router-outlet></router-outlet> -->
<h3>{{'SETTINGS.TITLE'|translate}}</h3>
<div aerRow>
    <div class="settings">
        <div class="settings__tab" [routerLink]="['/wallet/settings/general']" routerLinkActive="settings__tab--selected">
            <span>General</span><aer-icon>gear</aer-icon>
        </div>
        <div class="settings__tab" [routerLink]="['/wallet/settings/transactions']" routerLinkActive="settings__tab--selected">
            <span>Transactions</span><aer-icon>transaction</aer-icon>
        </div>
        <div class="settings__tab" [routerLink]="['/wallet/settings/system']" routerLinkActive="settings__tab--selected">
            <span>System</span><aer-icon>node</aer-icon>
        </div>
        <div class="settings__tab" [routerLink]="['/wallet/settings/backup']" routerLinkActive="settings__tab--selected">
            <span>Backup</span><aer-icon>backup</aer-icon>
        </div>
                
        <div class="settings__tab-content">
            <section>
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>

