<!-- <router-outlet></router-outlet> -->
<h3>{{'SETTINGS.TITLE'|translate}}</h3>
<div aerRow>
    <div class="settings">
        <div class="settings__tab" [routerLink]="['/wallet/settings/general']" routerLinkActive="settings__tab--selected">
            <span>{{'SETTINGS.GENERAL.TAB_TITLE'|translate}}</span><aer-icon>gear</aer-icon>
        </div>
        <div class="settings__tab" [routerLink]="['/wallet/settings/transactions']" routerLinkActive="settings__tab--selected">
            <span>{{'SETTINGS.TRANSACTIONS.TAB_TITLE'|translate}}</span><aer-icon>transaction</aer-icon>
        </div>
        <div class="settings__tab" [routerLink]="['/wallet/settings/system']" routerLinkActive="settings__tab--selected">
            <span>{{'SETTINGS.SYSTEM.TAB_TITLE'|translate}}</span><aer-icon>node</aer-icon>
        </div>
        <div class="settings__tab" [routerLink]="['/wallet/settings/backup']" routerLinkActive="settings__tab--selected">
            <span>{{'SETTINGS.BACKUP.TAB_TITLE'|translate}}</span><aer-icon>backup</aer-icon>
        </div>
        <!-- <div class="settings__tab" [routerLink]="['/wallet/settings/ethereum-wallet']" routerLinkActive="settings__tab--selected">
            <span>{{'SETTINGS.ETHWALLET.TAB_TITLE'|translate}}</span><aer-icon>ehtereum</aer-icon>
        </div>                 -->
        <div class="settings__tab-content">
            <section>
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>

