<div class="dashboard">
  <h3>{{'DASHBOARD.TITLE'|translate}}</h3>
  <div aerRow>
    <div aerColumn size="lg-5 md-12 sm-12 xs-12">
      <div aerRow>
        <div aerColumn size="sm-12">
          <app-account-overview></app-account-overview>
        </div>
      </div>
      <div aerRow>
        <div aerColumn size="sm-12">
          <app-token-list></app-token-list>
        </div>
      </div>
    </div>
    <div aerColumn size="lg-7 md-12 sm-12 xs-12">
      <div aerRow>
        <div aerColumn size="sm-12">
            <app-last-transactions></app-last-transactions>
          <!-- <app-chart></app-chart> -->
        </div>
      </div>
    </div>
  </div>
</div>
