<div class="dashboard">
        <h3>{{'DASHBOARD.TITLE'|translate}}</h3>
  <div aerRow>
      <div aerColumn size="sm-4">
        <div aerRow>
            <div aerColumn size="sm-12">
                <app-account-overview></app-account-overview>
            </div>
        </div>
        <div aerRow>
            <div aerColumn size="sm-12">
                <app-token-list></app-token-list>
            </div>
        </div>
      </div>
      <div aerColumn size="sm-8">
        <div aerRow>
            <div aerColumn size="sm-12">
                <app-chart></app-chart>
            </div>
        </div>
      </div>
    </div>
</div>
