<aer-modal-container>
  <div class="account access-recovery">
    <div class="header">{{'ACCOUNT.QR_SCAN.TITLE'|translate}}</div>
    <app-divider></app-divider>
    <div class="account__slide-panel">
      <div class="account__slide-panel__container">
        <div>
          <p class="aer-small paragraph">
            {{'ACCOUNT.QR_SCAN.SUBTITLE' |translate}}
          </p>
          <app-divider></app-divider>
        </div>
        <app-qr-code-scanner #qrScanner (codeScanned)="codeScanned($event)"></app-qr-code-scanner>
        <app-divider [showLine]="false"></app-divider>
        <aer-button class="large full-width blue" (buttonFn)="restoreAccount()">{{'COMMON.BUTTONS.CANCEL' | translate}}</aer-button>
      </div>
    </div>
  </div>
</aer-modal-container>
