<aer-modal-dialog>
    <div class="explorer detail-modal" *ngIf="block">
      <div class="o-closeModal">
          <div class="o-closeModal__btn" (click)="dismiss()">
              <svg class="o-closeModal__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve">
                <g><path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                    c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                    C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                    s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>                  
          </div>        
        </div>         
      <div class="title">{{'BLOCK'|translate}}</div>
      <app-divider></app-divider>
      <div class="link">{{block.number}}</div>
      <div><p class="aer-small">{{block.timestamp | transactionTimeStamp  }} </p></div>
      <div class="age">({{block.timestamp | transactionTimeAgo  }}</div>
  
      <div class="transaction-table">
        <div class="tr">
          <div class="name">
            {{'TXNS'|translate}}
          </div>
          <div class="value">
            {{block.transactions.length}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'HASH'|translate}}
          </div>
          <div class="value">
            {{block.hash}}
          </div>
        </div>
        <div class="tr">
            <div class="name">
              {{'PARENT_HASH'|translate}}
            </div>
            <div class="value">
                {{block.parentHash}}
            </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'SIZE'|translate}}
          </div>
          <div class="value">
              {{block.size}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_USED'|translate}}
          </div>
          <div class="value">
              {{block.gasUsed | convertToEther  }}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_LIMIT'|translate}}
          </div>
          <div class="value">
              {{block.gasLimit | convertToEther  }}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'NONCE'|translate}}
          </div>
          <div class="value">
              {{block.nonce}}
          </div>
        </div>
        <div class="tr">
            <div class="name">
              {{'EXTRA_DATA'|translate}}
            </div>
            <div class="value">
                {{block.extraData  | hextoAscii   }}
            </div>
        </div>
      </div>
    </div>
    <div *ngIf="!block">
      <div class="title">{{'BLOCK'|translate}}</div>
      <p>{{blockNumber}}</p>
    </div>
  </aer-modal-dialog>