<aer-modal-container>
    <div class="account backup-create">
      <div class="header">{{'SAVE_PHRASE'|translate}}</div>
      <app-divider></app-divider>
      <div class="b-text">{{'SAVE_PHRASE_TEXT'|translate}}</div>
      <div class="button">
          <aer-button class="medium blue" (buttonFn)="savePhrase()">{{'SAVE_FILE'|translate}}</aer-button>
      </div>
      <app-divider label="{{'OR'|translate}}"></app-divider>
      <div class="warning-text">
        {{'WRITE_SEED'|translate}} <a style="cursor: pointer" (click)="copyToClipboard()">{{'WRITE_SEED_COPY' | translate}}</a>
      </div>
      <div class="phrase">
        {{seed}}
      </div>
      <aer-button class="large full-width" (buttonFn)="confirmBackup()">{{'SAVED_IT'|translate}}</aer-button>
    </div>
  </aer-modal-container>