<aer-modal-container>
    <div class="backup-create">
      <div class="header">{{'SAVE_PHRASE'|translate}}</div>
      <hr class="line">
      <div class="b-text">{{'SAVE_PHRASE_TEXT'|translate}}</div>
      <div class="button">
          <aer-button size="medium" color="blue" (buttonFn)="createBackup()">{{'SAVE_FILE'|translate}}</aer-button>
      </div>
      <div class="b-backup">
        <p>
          <span class="surrounded"> {{'OR'|translate}} </span>
        </p>
      </div>
      <div class="warning-text">
        {{'WRITE_SEED'|translate}}
          <!-- <a routerLink="/bck">{{'SKIP_STEP'|translate}}</a> -->
      </div>
      <div class="phrase">
        {{phrase}}
      </div>
      <div class="">
        <aer-button (buttonFn)="save()">{{'SAVED_IT'|translate}}</aer-button>
      </div>
    </div>
  </aer-modal-container>