<form [formGroup]="addTokenForm" (ngSubmit)="onSubmit()">
  <div aerRow>
    <div aerColumn size="md-12">
      <aer-input placeholder="Token contract address" type="tokenAddress" formControlName="tokenAddress" [(ngModel)]="tokenAddress"
        ngDefaultControl equalValidator="confirmPassword" reverse="true"></aer-input>
    </div>
  </div>
  <div aerRow>
    <div aerColumn size="md-12">
      <aer-input placeholder="Token symbol" type="tokenSymbol" formControlName="tokenSymbol" [(ngModel)]="tokenSymbol" ngDefaultControl
        equalValidator="confirmPassword" reverse="true"></aer-input>
    </div>
  </div>
  <div aerRow>
    <div aerColumn size="md-12">
      <aer-input placeholder="Decimals of precision" type="decimals" formControlName="decimals" [(ngModel)]="decimals" ngDefaultControl
        equalValidator="confirmPassword" reverse="true"></aer-input>
    </div>
  </div>
  <aer-modal-button type="submit" [disabled]="!addTokenForm.valid">{{'BUTTONS.ADD' | translate}}</aer-modal-button>
  <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'BUTTONS.CLOSE' | translate}}</aer-modal-button>
</form>
