.token-list {
  .title-row {
    .title {
      font-size: 18px;
      padding: 0;
    }
  }

  .add-token {
    text-align: right;
  }

  .token-item {
    border-bottom: 1px solid #F1F1F3;
    margin: 0 -15px;

    .delete-token {
      cursor: pointer;
      background: #C3C3C3;
      color: #636363;
      font-weight: bold;
      border-radius: 50px;
      padding: 0 7px 3px 7px;
    }
    .name {
      color: #2D353D;
      font-weight: 600;
      display: flex;
      align-items: center;

      .token-img {
        font-size: 20px;
        margin-right: 5px;
        color: #42526e;
      }
    }

    .amount {
      text-align: right;
    }
  }
}
