<aer-card class="token-list">
    <div aerRow class="title-row">
        <div aerColumn size="lg-6 md-6 sm-6 xs-6">
            <span class="title">Tokens</span>
        </div>
        <div aerColumn size="lg-6 md-6 sm-6 xs-6" class="add-token">
            <aer-button class="blue medium" (click)="addToken()">Add token <aer-icon>plus</aer-icon></aer-button>
        </div>
    </div>
    <div aerRow *ngIf="tokens" class="token-item">
        <div aerColumn size="lg-3 md-3 sm-3 xs-3">
            {{ 'DASHBOARD_TOKENS.NAME' | translate }}
        </div>
        <!-- <div aerColumn size="lg-2 md-2 sm-2 xs-2" class="right-align">
            {{ 'DASHBOARD_TOKENS.DECIMALS' | translate }}
        </div> -->
        <div aerColumn size="lg-7 md-7 sm-7 xs-7" class="right-align">
            {{ 'DASHBOARD_TOKENS.AMOUNT' | translate }}
        </div>
        <div aerColumn size="lg-2 md-2 sm-2 xs-2">
            
        </div>
    </div>

    <div aerRow *ngFor="let token of tokens" class="token-item">
        <div aerColumn size="lg-3 md-3 sm-3 xs-3" class="name">
            <span class="token-img"><aer-icon>generaltoken</aer-icon></span> {{token.symbol}}
        </div>
        <!-- <div aerColumn size="lg-2 md-2 sm-2 xs-2" class="amount">
            {{token.decimals}}
        </div> -->
        <div aerColumn size="lg-7 md-7 sm-7 xs-7" class="amount">
            {{token.balance | bignumber:'1.0-3'}}
        </div>
        <div aerColumn size="lg-2 md-2 sm-2 xs-2" class="name">
            <aer-icon class="delete-token" (click)="deleteToken(token)">close-round</aer-icon>
        </div>
    </div>
</aer-card>
