<div class="settings__ethereum-wallet">
    <h3>{{'SETTINGS.ETHWALLET.TAB_TITLE'|translate}}</h3>
    <app-divider [fullWidth]="true"></app-divider>
    <div>

        <div aerRow *ngIf="injectedWeb3">
            <div aerColumn size="sm-12">
                <div class="settings-ethereum-wallet__injected">
                    <div class="settings-ethereum-wallet__label">
                        {{'EXTERNAL-SWAP.WALLET.FIELD_SELECT_WALLET'|translate}}
                    </div>
                    <div class="settings-ethereum-wallet__address-option">
                          <aer-radio-group>
                              <aer-radio-button [value]="walletTypes.Injected" (change)="onWalletSelect($event)">{{injectedWeb3Name}}</aer-radio-button>
                              <aer-radio-button [value]="walletTypes.Imported" (change)="onWalletSelect($event)" [checked]="true">{{'EXTERNAL-SWAP.WALLET.FIELD_STORED_KEYS'|translate}}</aer-radio-button>
                          </aer-radio-group>
                    </div>
                </div>
            </div>
        </div>

        <div aerRow>
          <div aerColumn size="sm-12" class="settings-ethereum-wallet__label">
            {{'EXTERNAL-SWAP.WALLET.FIELD_SELECT_ADDRESS'|translate}}
          </div>
        </div>

        <div aerRow>
          <div aerColumn size="sm-8">
            <div aerRow>
              <div aerColumn size="sm-12">
                <aer-select [(ngModel)]="address" 
                                icon="key"
                                (ngModelChange)="onAddressChange()" 
                                placeholder="{{'EXTERNAL-SWAP.WALLET.FIELD_SELECT_YOUR_ACCOUNT'|translate}}">
                  <aer-select-option *ngFor="let item of addresses;" [value]="item">
                    <img class="avatar" [src]="item | generateavatar"><span>{{item}}</span>
                  </aer-select-option>
                  <aer-select-option *ngIf="walletTypes.Imported === selectedWalletType"><span>{{'EXTERNAL-SWAP.WALLET.BTN_ADD_ACCOUNT'|translate}}</span></aer-select-option>
                </aer-select>
              </div>
            </div>

            <div aerRow *ngIf="importInProgress">
              <div aerColumn size="sm-12">
                <aer-input (buttonFn)="import()"
                            [(ngModel)]="importedPrivateKey"
                            [attr.disabled]="!importedPrivateKey"
                            class="with-button"
                            [ngClass]="{ 'blue': importedPrivateKey, 'grey': !importedPrivateKey }"
                            placeholder="Private key"
                            buttonLabel="Import">
                </aer-input>
              </div>
            </div>

            <div aerRow *ngIf="!importInProgress">
              <div aerColumn size="sm-12" class="settings-ethereum-wallet__label">
                {{'EXTERNAL-SWAP.WALLET.FIELD_SELECT_YOUR_TOKEN'|translate}}
              </div>
            </div>

            <div aerRow *ngIf="address">
              <div aerColumn size="sm-12">
                <aer-select [(ngModel)]="token"
                              dataKey="symbol"
                              (ngModelChange)="onTokenChange()" placeholder="{{'EXTERNAL-SWAP.WALLET.FIELD_SELECT_YOUR_TOKEN'|translate}}">
                    <aer-select-option class="token-select-option" *ngFor="let token of tokens;" [value]="token">
                      <span>
                        <aer-icon>{{token.symbol.toLowerCase()}}</aer-icon> {{token.symbol}}</span>
                    </aer-select-option>
                  <aer-select-option><span>{{'EXTERNAL-SWAP.WALLET.BTN_ADD_TOKEN'|translate}}</span></aer-select-option>
                </aer-select>
              </div>
            </div>

            <div aerRow *ngIf="address && !importTokenInProgress">
                <div aerColumn size="sm-12">
                    <div class="settings-ethereum-wallet__balance">
                        <div class="settings-ethereum-wallet__balance-label">
                              {{'EXTERNAL-SWAP.WALLET.FIELD_BALANCE'|translate}}
                        </div>
                        <div class="settings-ethereum-wallet__balance-value" *ngIf="tokenSymbol === 'ETH'">
                              {{balance | convertToEther | number:'1.2-5'}} ETH
                        </div>
                        <div class="settings-ethereum-wallet__balance-value" *ngIf="tokenSymbol !== 'ETH'">
                              {{balance | number:'1.2-5'}} {{ tokenSymbol }}
                        </div>
                      </div>
                </div>
            </div>
            
          </div>

          <div *ngIf="address" aerColumn size="sm-4">
            <div aerColumn size="sm-12" class="settings-ethereum-wallet__addressQR">
              <img *ngIf="addressQR" [src]="addressQR" alt="QR Code">
              <app-address-clipboard [address]="address" [short]="true" [centered]="true"></app-address-clipboard>
            </div>
          </div>
        </div>


        <app-add-token *ngIf="address && importTokenInProgress" [wallet]="selectedWalletType" [account]="address" (tokenAdded)="onTokenAdded($event)"></app-add-token>
        
      </div>
</div>
