<app-search></app-search>
<section class="o-section o-section__blockInfo">
  <div class="o-site-wrap o-site-wrap--padding">
      <div class="o-grid o-grid--gutter-sm">
          <div class="o-grid__item u-1/1@lg u-1/1@md u-1/1@sm u-1/1">
              <h1>Transactions</h1>
              <h3>Current Block #{{ currentBlock }} </h3>
              <div class="c-table c-table--fixed c-table--evenOdd">
                  <div class="c-table--row">
                      <div class="c-table--cell">
                         Block #
                      </div>
                      <div class="c-table--cell">
                          Size
                      </div>  
                      <div class="c-table--cell">
                          Tx #
                      </div>
                      <div class="c-table--cell">
                          Time 
                      </div>                
                  </div>
                  <div class="c-table--row" *ngFor="let m of blocks;">
                      <div class="c-table--cell u-bw">
                          <a class="u-click" (click)="exploreBlock(m.number)">{{ m.number}}</a>
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ m.size }}
                      </div>  
                      <div class="c-table--cell u-bw">
                          {{ m.transactions.length }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ m.timestamp | transactionTimeAgo }}
                      </div>       
                  </div>
              </div>
          </div>            
      </div>
  </div>
</section>