<!-- <app-search></app-search> -->
<div class="explorer">
    <h1>{{'TRANSACTIONS_SHORT'|translate}}</h1>
    <aer-card>
        <div class="dataTable-info-label">
            <label>{{'TRANSACTIONS_FOUND_COUNT'|translate: {transactionsCount: transactions.length} }}</label>
        </div>
        <p *ngIf="!transactionStatus">
           When this goes we have finished searching..... our loader icon will replace this.
        </p>
        <table>
            <thead>
                <th class="">{{'TX_HASH'|translate}}</th>
                <th class="">{{'BLOCK'|translate}}</th>
                <th class="">{{'AGE'|translate}}</th>
                <th class="">{{'FROM'|translate}}</th>
                <th class="arrow"></th>
                <th class="">{{'TO'|translate}}</th>
                <th class="">{{'VALUE'|translate}}</th>
                <th class="">{{'TX_FEE'|translate}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions">
                    <td class="link hash" (click)="openTransaction(transaction)">{{transaction.hash}}</td>
                    <td class="link block" (click)="openBlock(transaction)">{{transaction.blockNumber}}</td>
                    <td class="age">{{transaction.timestamp | transactionTimeAgo }}</td>
                    <td class="link hash">{{transaction.from}}</td>
                    <td class="arrow"><aer-icon>arrow-right-a</aer-icon></td>
                    <td class="link hash">
                        <div *ngIf="!transaction.to; then contractTxn else normalTxn"></div>
                        <ng-template #normalTxn>
                            {{transaction.to  }} 
                        </ng-template>
                        <ng-template #contractTxn>
                            [Contract Creation Transaction]
                        </ng-template>   
                    </td>
                    <td class="value">{{transaction.value | convertToEther }} {{'AERO'|translate}}</td>
                    <td class="txfee"><!--{{transaction.txFee}}-->{{transaction.gasPrice | convertToEther}} {{'AERO'|translate}}</td>
                </tr>
            </tbody>
        </table>
    </aer-card>
</div>
