<aer-toolbar>

<div class="content">
  <div class="title">{{'SEND_TRANSACTION'|translate}}</div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-header">
          {{'SEND_TO'|translate}}
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-name">{{'FROM'|translate}}</div>
              <aer-input icon="aerum" [(ngModel)]="senderAddress" ngDefaultControl (ngModelChange)="handleInputsChange()"></aer-input>
            </div>
            <div class="col-sm-6">
              <div class="input-name">{{'TO'|translate}}</div>
              <aer-input  [(ngModel)]="receiverAddress" ngDefaultControl (ngModelChange)="handleInputsChange()"></aer-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-name">{{'AMOUNT'|translate}}</div>
              <aer-input [(ngModel)]="amount" ngDefaultControl (ngModelChange)="handleInputsChange()"></aer-input>
              <input id="sendEverything" type="checkbox" [ngModel]="sendEverything" (ngModelChange)="setSendEverything($event); handleInputsChange()"><label for="sendEverything"> {{'SEND_EVERYTHING'|translate}} ({{walletBalance}} {{'AERO'|translate}})</label>
            </div>
            <div class="col-sm-6">
                  <div class="account-status-line">
                      <aer-icon>aerum</aer-icon>
                      <div class="float-left">{{walletBalance}} {{'AERO'|translate}}</div>
                  </div>
            </div>
          </div>
          <!-- <div class="show-more-button">
              <div class="row">
                  <div class="col-sm-12">
                    <aer-button class="medium blue" (buttonFn)="showMore()">{{'SHOW_MORE_OPTIONS'|translate}}</aer-button>
                  </div>
                </div>
          </div> -->
          <div class="row">
            <div class="col-sm-4">
              <div class="note">{{'MAX_TRANSACTION_FEE'|translate}}</div>
            </div>
            <div class="col-sm-4">
              <div class="note">{{maxTransactionFee}} aergwei</div>
            </div>
            <div class="col-sm-4">
              <div class="note">{{'MAX_TRANS_FEE_WARNING'|translate}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-name">{{'TOTAL'|translate}}</div>
              <div class="amount-total">
                {{totalAmount}} {{'AERO'|translate}}
              </div>
              <div class="note">
                  {{'DATA_INCLUDED'|translate}}: {{includedDataLength}} {{'BYTES'|translate}}
              </div>
              <hr>
              <div class="footer-buttons">
                  <aer-button class="normal blue" (buttonFn)="send()">{{'SEND'|translate}}</aer-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- DON'T DELETE! -->
    <!-- TODO: refactor to any modal -->
    <!-- <div class="col-sm-6">
      <div class="panel min-width-470">
        <div class="panel-header">
            {{ 'RECEIVE_TO'|translate }}
        </div>
        <div class="panel-content">
            {{ transactionMessage }}
            <img [src]="addressQR" alt="">
            <div class="c-copy__address" >
              <a (click)="copyToClipboard()">{{ senderAddress }}</a>
            </div>
        </div>
      </div>
    </div> -->
  

    <div class="col-sm-6">
      <app-last-transactions></app-last-transactions>
    </div>
  </div>
</div>
