<aer-modal-container>
  <div class="account backup-confirmation">
    <div class="header">{{'CREATE_BACKUP'|translate}}</div>
    <app-divider></app-divider>
    <div class="b-text">{{'BACKUP_PHRASE'|translate}}</div>
    <div class="button">
        <aer-button (buttonFn)="createBackup()">{{'CREATE_BACKUP'|translate}}</aer-button>
    </div>
    <app-divider label="{{'OR'|translate}}"></app-divider>
    <div class="link-text">
        <a (click)="skipStep()" routerLink="/dashboard">{{'SKIP_STEP'|translate}}</a>
    </div>
  </div>
</aer-modal-container>
