<div class="name-buy-confirm">
 <div aerRow>
   <div aerColumn size="md-12">
     <app-from-to-avatar [senderAddress]="dialogRef.data.buyer" [recieverAddress]="dialogRef.data.ansOwner"></app-from-to-avatar>
   </div>
 </div>
 <div aerRow>
   <div aerColumn size="md-12">
      <div class="table-simple">
          <div>
            <div>
              {{ 'ENS.FIELD_NAME' | translate }}
            </div>
            <div>
              {{ dialogRef.data.name }}
            </div>
          </div>
          <div>
            <div>
              {{ 'ENS.FIELD_NEW_ADDRESS' | translate }}
            </div>
            <div >
              {{ dialogRef.data.address | truncate: 32 }}
            </div>
          </div>
          <div>
            <div>
              {{ 'AMOUNT' | translate }}
            </div>
            <div>
              {{ dialogRef.data.amount | number:'1.2-5' }} Aero
            </div>
          </div>
          <div>
            <div>
              {{ 'ENS.ESTIMATED_FEE' | translate }}
            </div>
            <div>
              {{ estimatedFeeInWei | convertToEther | number:'1.0-18' }} Aero
            </div>
          </div>
        </div>
   </div>
 </div>
 <aer-modal-button [isAcceptButton]="true" (buttonFn)="accept()">{{ 'ENS.BTN_MODAL_BUY' | translate }}</aer-modal-button>
 <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'COMMON.BUTTONS.CLOSE' | translate}}</aer-modal-button>
</div>
