.c-name-buy-confirm {
  &__table {
    color: #83868A;
    font-size: 13px;
    line-height: 1;
    text-align: center;

    h1 {
      font-size: 36px;
      font-weight: normal;
      color: #27282A;
      margin: 0 0 38px;
    }
  }
}

.u-lreset {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    justify-content: center;
  }
}

.o-txnID {
  &__person {
    vertical-align: middle;
    display: inline-block;

    li:first-child {
      margin-bottom: 10px;
    }
  }

  &__arrow {
    font-size: 30px;
    line-height: 2;
  }
}

.message-text {
  margin-bottom: 40px;
  display: block;
}

.o-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 46px 0 25px;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__cell {
    display: table-cell;
    padding-bottom: 15px;

    &.o-data--left {
      text-align: left;
      margin-right: 10px;
    }

    &.o-data--right {
      text-align: right;
      word-break: break-all;
    }
  }
}

.c-avatar__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background: no-repeat center center;
  filter: brightness(2.2) saturate(2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &.u-marginCntr {
    margin: 0 auto;
  }
}
