<div class="settings--form">
  <div class="vertical--container">
      <h3>Transactions</h3>
      <app-divider [fullWidth]="true"></app-divider>
      <p>
        Default gas price
      </p>
      <aer-input placeholder="Default gas price" [(ngModel)]="transactionSettings.gasPrice" icon="gas" class="with-button blue" buttonLabel="{{'AERO'|translate}}"></aer-input>
      <p>
        Max amount of gas per txn
      </p>
      <aer-input placeholder="Max Amount of gas per txn" [(ngModel)]="transactionSettings.maxTransactionGas" icon="gas"></aer-input>
      <p>
        Number of last transactions to show
      </p>
      <aer-input placeholder="Number of transactions" [(ngModel)]="transactionSettings.lastTransactionsNumber" icon="sort-desc"></aer-input>
  </div>
  <div class="vertical--container save--button">
      <aer-button class="blue" (buttonFn)="saveSettings()">Save</aer-button>
  </div>
</div>