<h3>{{'STAKING.TITLE'|translate}}</h3>
<div class="staking-container">
  <aer-expandable-group>
    <aer-expandable-panel title="{{'STAKING.PANEL_TITLE_ETHEREUM_WALLET'|translate}}" [expanded]="ethereumWalletExpanded">
      <app-ethereum-wallet (moveToStaking)="moveToStaking($event)"></app-ethereum-wallet>
    </aer-expandable-panel>
    <aer-expandable-panel title="{{'STAKING.PANEL_TITLE_STAKING'|translate}}" [expanded]="stakingCreateExpanded">
      <app-staking-create [ethereumAccount]="account"></app-staking-create>
    </aer-expandable-panel>
  </aer-expandable-group>
</div>
