
  
  
  @import '~sass/common/variables';
  
  
  
  .c-avatar__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0;
    .c-avatar__item {
        width: 84px;
        height: 84px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;    
        
        &.activeAvtr {
          border: solid 1px $brand-primary;
          cursor: default;
          background-color: $brand-primary-rgba;         
        }
      
        
        
      .c-avatar__img {
        width: 49px;
        height: 49px;
        overflow: hidden;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;       
        opacity: .8; 
      }
    }
  }