 
.c-avatar__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;

  .c-avatar__item {
    width: 84px;
    height: 84px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
        
    &.activeAvtr {
      border: solid 1px #2a669a;
      cursor: default;
      background-color: rgba(42, 102, 154, 0.1);         
    }
      
        
        
    .c-avatar__img {
      width: 49px;
      height: 49px;
      overflow: hidden;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;       
      -webkit-filter: brightness(2.2) saturate(2);
      filter: brightness(2.2) saturate(2);
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
  }
}
