 .c-avatar__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;

  .c-avatar__item {
    border-radius: 100%;
    cursor: pointer;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;       
    filter: brightness(2.2) saturate(2);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 42px;
    height: 42px;
        
    &.activeAvtr {
      cursor: default;
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75), 0 0 6px rgba(0, 93, 255, 0.8);         
    }
  }
}
