<div aerRow>
  <div aerColumn size="sm-6">
    <app-ethereum-wallet-account
      (addressChanged)="updateAddress($event)"
      (walletTypeChanged)="updateWalletType($event)"
      (selectedWalletType)="walletType">
    </app-ethereum-wallet-account>
  </div>
  <div aerColumn size="sm-6">
    <app-ethereum-wallet-balance
      [address]="address"
      [walletType]="walletType"
      (ethereumBalanceChanged)="updateEthereumBalance($event)"
      (aerumBalanceChanged)="updateAerumBalance($event)">
    </app-ethereum-wallet-balance>
  </div>
</div>
<app-divider fullWidth="true"></app-divider>
<div aerRow>
  <div aerColumn size="sm-12" class="cell">
    <aer-button (buttonFn)="onMoveToStaking()" class="blue" [disabled]="!canMoveToStaking" (ngClass)="{ 'blue': canMoveToStaking, 'grey': !canMoveToStaking }">{{'STAKING.BTN_NEXT'|translate}}</aer-button>
  </div>
</div>