.account-overview {
  .title {
    font-size: 18px;
    padding: 0;
  }

  .balance {
    display: block;
    color: #2D353D;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10%;
  }

  .qr {
    padding: 0;

    img {
      width: 100%;
    }
  }

  .address {
    padding: 10px 25px;
    display: block;

    span {
      color: #2a669a;
      text-overflow: ellipsis;
      cursor: pointer;
      padding: 5px 12px;
      border: 1px dashed #2a669a;
      display: inline-block;
      position: relative;
      top: 10px;
      border-radius: 5px;

      &:after {
        position: absolute;
        top: -18px;
        right: -31px;
        content: "Click to copy";
        font-size: 10px;
      }
    }

  }
}
