.has-error {
  .aer-input {
    border: 10px solid red;
  }
}

.create-transaction {
  .tokensSelect {
    padding-top: 50px;
  }
}

.note {
  font-size: 13px;
  color: #83868a;
}

.account-status-line {
  font-size: 13px;
  color: #83868a;
  padding: 45px 10px;

  @media(max-width: 768px) {
    padding: 15px 0;
  }

  .float-left {
    float: left;
    margin-top: -2px;
  }

  aer-icon {
    padding-right: 5px;
    margin-top: 0;
    float: left;
  }
}


.c-copy__address {
  display: block;
  a {
    padding: 5px 12px;
    border: 1px dashed #2a669a;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    &::after {
      position: absolute;
      top: -18px;
      right: -31px;
      content: "Click to copy";
      font-size:10px;
    }
  }
}

.show-more-button {
  .aer-grid-row {
    padding-top: 0;
  }
}
