.has-error {
  .aer-input {
    border: 10px solid red;
  }
}

.flex-fee {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.note {
  font-size: 13px;
  color: #83868a;
}

.error {
  font-size: 13px;
  color: #c94545;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .read-more {
    cursor: pointer;
    text-decoration: underline;
  }
}

.account-status-line {
  font-size: 13px;
  color: #83868a;
  padding-top: 15px;

  @media(max-width: 768px) {
    padding: 15px 0;
  }

  .float-left {
    float: left;
    margin-top: -2px;
  }

  aer-icon {
    padding-right: 5px;
    margin-top: 0;
    float: left;
  }
}

.amount-total {
  font-size: 24px;
  margin-bottom: 14px;
  word-wrap: break-word;
  line-height: 1;
}

.show-more-button {
  .aer-grid-row {
    padding-top: 0;
  }
}

.qr__adress {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
