<div class="name-transfer-confirm">
  <div aerRow>
    <div aerColumn size="md-12">
      <div class="table-simple">
        <div>
          <div>
            {{ 'ENS.FIELD_NAME' | translate }}
          </div>
          <div>
            {{ dialogRef.data.name }}
          </div>
        </div>
        <div>
          <div>
            {{ 'ENS.FIELD_NEW_OWNER' | translate }}
          </div>
          <div>
            {{ dialogRef.data.newOwner | truncate: 32 }}
          </div>
        </div>
        <div>
          <div>
            {{ 'ENS.ESTIMATED_FEE' | translate }}
          </div>
          <div>
            {{ estimatedFeeInWei | convertToEther | number:'1.0-18' }} Gas
          </div>
        </div>
      </div>
    </div>
  </div>
  <aer-modal-button [isAcceptButton]="true" (buttonFn)="accept()">{{ 'ENS.BTN_TRANSFER_NAME' | translate }}</aer-modal-button>
  <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'COMMON.BUTTONS.CANCEL' | translate}}</aer-modal-button>
</div>
