.o-header {
    &__search {
        height: 80px;
        padding: 5px  0;
        background-color: #fff;
        color: #fff;
        border-bottom: 5px solid #1f4d37;
    }


    .c-masthead__wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: start;
    }
    .c-masthead__logo {
        svg {
            width: 66px;
        }
    }

    input {
        border: none;
        background-color: #eee;
        border-radius: 5px;
        width: 420px;
        padding: 10px;
    }

    .u-m--40 {
        margin-right: 40px;
    }

    $brand: #1f4d37;

    button[type=submit] {
        background-color: #1f4d37;
        color: #fff;
        line-height: 1.1;
        height: 44px;
        padding: 0 30px;
        border-radius: 4px;
        transition: background-color 300ms ease-in-out;
        &:disabled,
        &[disabled] {
            opacity: .5;
        }
        &:hover {
            background-color: #329e6a;
            transition: background-color 300ms ease-in-out;
        }
    }

    .u-error__search {
        color: #CF3A24;
    }

}