.aens-manage {
    &__balance {
        // TODO: This is temporary solution as grid doesn't do columns row the same for row
        padding-top: 55px;
        display: -webkit-flex; /* Safari */
        display: flex;
        justify-content: space-between;

        &__aero {
            font-size: 20px;
        }
    }
}