<div class="load-swap-confirm-dialog">
  <div aerRow>
    <div aerColumn size="md-12">
      <div class="table-simple">
        <div>
          <div>
            {{ 'SWAP.LOAD.FIELD_SWAP_ID' | translate }}
          </div>
          <div>
            {{ dialogRef.data.swapId }}
          </div>
        </div>
        <div>
          <div>
            {{ dialogRef.data.tokenInfo && dialogRef.data.tokenInfo.symbol ? dialogRef.data.tokenInfo.symbol : 'Aero' }}
            <app-token-description [token]="dialogRef.data.tokenInfo"></app-token-description>
          </div>
          <div>
            {{ dialogRef.data.tokenAmountFormatted | number:'1.2-18' }}
          </div>
        </div>
        <div>
          <div>
            {{ 'SWAP.LOAD.FIELD_COUNTERPARTY' | translate }}
          </div>
          <div>
            {{ dialogRef.data.counterpartyTrader | truncate: 32 }}
          </div>
        </div>
        <div>
          <div>
            {{ dialogRef.data.counterpartyTokenInfo && dialogRef.data.counterpartyTokenInfo.symbol ? dialogRef.data.counterpartyTokenInfo.symbol
            : 'Aero' }}
          </div>
          <div>
            {{ dialogRef.data.counterpartyAmountFormatted }}
          </div>
        </div>
        <div>
          <div>
            {{ 'SWAP.LOAD.FIELD_STATUS' | translate }}
          </div>
          <div>
            {{ dialogRef.data.status }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <aer-modal-button [isAcceptButton]="true" *ngIf="showConfirm" (buttonFn)="onConfirm()">{{'SWAP.LOAD.BTN_CONFIRM'|translate}}</aer-modal-button>
  <aer-modal-button [isAcceptButton] *ngIf="showReject" (buttonFn)="onReject()">{{'SWAP.LOAD.BTN_REJECT'|translate}}</aer-modal-button>
  <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'SWAP.LOAD.BTN_CANCEL'|translate}}</aer-modal-button>
</div>
