<aer-modal-dialog>
  <div class="c-load-swap c-load-swap__table c-load-swap__unlock">
    <h1>{{'SWAP.LOAD.CONRIM_TITLE'|translate}}</h1>
    <div class="o-table">
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ 'SWAP.LOAD.FIELD_SWAP_ID' | translate }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.swapId }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ param.tokenInfo && param.tokenInfo.symbol ? param.tokenInfo.symbol : 'Aero' }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.tokenAmountFormated }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ 'SWAP.LOAD.FIELD_COUNTERPARTY' | translate }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.counterpartyTrader | truncate: 32 }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ param.counterpartyTokenInfo && param.counterpartyTokenInfo.symbol ? param.counterpartyTokenInfo.symbol : 'Aero' }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.counterpartyAmountFormated }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ 'SWAP.LOAD.FIELD_STATUS' | translate }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.status }}
            </div>
        </div>
    </div>
    <aer-button *ngIf="showConfirm" class="btn-swap-create blue full-width" (buttonFn)="onConfirm()">{{'SWAP.LOAD.BTN_CONFIRM'|translate}}</aer-button>
    <aer-button *ngIf="showReject" class="btn-swap-create blue full-width" (buttonFn)="onReject()">{{'SWAP.LOAD.BTN_REJECT'|translate}}</aer-button>
    <aer-button class="btn-swap-cancel full-width" (buttonFn)="onCancel()">{{'SWAP.LOAD.BTN_CANCEL'|translate}}</aer-button>
  </div>
</aer-modal-dialog>