<div class="explorer">
    <h1>{{'PENDING_TXNS'|translate}}</h1>
    <aer-card>
        <div class="dataTable-info-label">
            <label>{{'TOTAL_OF_PENDING_TXNS'|translate: {transactionsCount: transactions.length } }}</label>
        </div>
        <table>
            <thead>
                <th class="">{{'TX_HASH'|translate}}</th>
                <th class="">{{'FROM'|translate}}</th>
                <th class="arrow"></th>
                <th class="">{{'TO'|translate}}</th>
                <th class="">{{'GAS'|translate}}</th>
                <th class="">{{'GAS_PRICE'|translate}}</th>                
                <th class="">{{'VALUE'|translate}}</th>
            </thead>
            <tbody>
                <tr *ngFor="let txn of transactions">
                    <td class="link hash">{{txn.hash|slice:0:20}}</td>
                    <td class="link hash">{{txn.from|slice:0:20}}</td>
                    <td class="arrow"><aer-icon>arrow-right-a</aer-icon></td>
                    <td class="link hash">{{txn.to|slice:0:20}}</td>
                    <td>{{txn.gas | hextoDecimal }}</td>
                    <td>{{txn.gasPrice | hextoDecimal}} {{'GWEI'|translate}}</td>                    
                    <td class="value">{{txn.value | convertToEther}} {{'AETH'|translate}}</td>
                </tr>
            </tbody>
        </table>
    </aer-card>
</div>