.transaction-main-flex-container {
  font-size: 14px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.12);
  border-left: 2px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  &:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.22);
    border-color: #e6e6e6;
  }

  .transaction-main-flex-item {
    background-color: transparent;
  }

  .sub-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .date {
      margin-right: 34px;

      .day {
        font-size: 22px;
      }

      .month {
        font-size: 14px;
      }
    }

    .transaction-info {
      .eventType {
        font-size: 14px;
      }
      .addresses {
        display: flex;
        align-items: center;

        img {
          height: 14px;
          width: 14px;
          border-radius: 30px;
          margin-right: 5px;
          -webkit-filter: brightness(2.2) saturate(2);
          filter: brightness(2.2) saturate(2);
          -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        }
        .address {
          margin-right: 5px;
        }

        aer-icon {
          margin-right: 5px;
        }
      }
    }

    .amount {
      margin-right: 20px;
    }

    .operation-icon {
      line-height: 1.1;
      .red {
        color: #c94545;
      }
      .green {
        color: #8ccc67;
      }
    }
  }
}

.show-more-label-div {
  text-align: center;
  color: #2a669a;
  margin-top: 16px;
  cursor: pointer;
}
