<aer-card class="last-transations" title="{{'LATEST_TRANSACTION'|translate}}">
  <div class="panel-content">
    <div class="latest-transaction-list-container">
      <div class="transaction-main-flex-container" *ngFor="let transaction of (transactions ? transactions.slice(0,limit): [])">
        <div class="transaction-main-flex-item" (click)="openTransaction(transaction)">
          <div class="sub-flex-container">
            <div class="date">
              <div class="month">{{transaction.date | date:['MMM']}}</div>
              <div class="day">{{transaction.date | date:['dd']}}</div>
            </div>
            <div class="transaction-info">
              <div class="eventType">{{transaction.data}}</div>
              <div class="addresses">
                  <img [src]="transaction.from | generateavatar"/>
                  <div class="address">{{transaction.from | slice : 0 : 7}}...{{transaction.from | slice : -5}}</div>
                  <aer-icon>angle-right</aer-icon>
                  <img [src]="transaction.to | generateavatar"/>
                  <div class="address">{{transaction.to | slice:0:7}}...{{transaction.to | slice:-5}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="transaction-main-flex-item">
          <div class="sub-flex-container">
            <div class="amount">
              {{transaction.amount}} {{transaction.type}}
            </div>
            <div class="operation-icon">
              <aer-icon *ngIf="getICoin(transaction.amount)" class="red">angle-right</aer-icon>
              <aer-icon *ngIf="!getICoin(transaction.amount)" class="green">angle-left</aer-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-divider [showLine]="false"></app-divider>
    <div style="text-align: center;" *ngIf="!transactions.length">No transaction history</div>
    <aer-button *ngIf="transactions.length && !hideTxns" class="full-width blue" (buttonFn)="loadMoreTransactions()">{{'SHOW_MORE'|translate}}</aer-button>
    <aer-button *ngIf="hideTxns" class="full-width blue" (buttonFn)="hideTransactions()">{{'SHOW_LESS'|translate}}</aer-button>
  </div>
</aer-card>
