<app-search></app-search>

  "blockHash" = {{ txn.blockHash }} <br>
  "blockNumber" = <a class="u-click" (click)="inspectBlock(txn.blockNumber)">View block  {{ txn.blockNumber }}  </a> <br> 
  "from" = <a class="u-click" (click)="inspectAddress(txn.from)">View block from {{ txn.from }}  </a> <br> 
  "gas" = {{ txn.gas }} <br>
  "gasPrice" = {{ txn.gasPrice }} <br> 
  "Transaction hash" = <a class="u-click" (click)="inspectTransaction(txn.hash)">View transaction  {{ txn.hash }}  </a> <br> 
  "input" = {{ txn.input }} <br>
  "nonce" = {{ txn.nonce }} <br>
  "to" = <a class="u-click" (click)="inspectAddress(txn.to)">View block to {{ txn.to }}  </a> <br> 
  "transactionIndex" = {{ txn.transactionIndex }} <br>
  "value" = {{ txn.value }} <br>
  "v" = {{ txn.v }} <br>
  "r" = {{ txn.r }} <br>
  "s" = {{ txn.s }} <br>