.icon {
  vertical-align: middle;
  &.deposit {
    color: #458cc9;
  }
  &.withdrawal {
    color: #8ccc67;
  }
}

.pending{
  color: #458cc9;
}

.closed{
  color: #8ccc67;
}

.cancelled {
  color: #c9af45;
}