.more-options {
  textarea {
    padding-top: 0;
  }

  .col-md-12 {
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .col-md-7 {
    padding-top: 0;
  }

  .unit {
    padding-top: 5px;
    display: block;
  }
}
