<aer-sidebar>
  <aer-sidebar-header></aer-sidebar-header>
  <aer-sidebar-group title="{{'TRANSACTIONS'|translate}}" iconName="transaction">
    <aer-sidebar-item iconName="transaction" [routerLink]="['/transaction']">{{'SEND_RECEIVE'|translate}}</aer-sidebar-item>
  </aer-sidebar-group>
  <aer-sidebar-group title="{{'STAKING'|translate}}" iconName="staking">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'CONTRACTS'|translate}}" iconName="contract">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'EXCHANGE'|translate}}" iconName="exchange">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'ENS'|translate}}" iconName="ens">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'SWAP.MAIN_MENU_ITEM_NAME'|translate}}" iconName="swap">
    <aer-sidebar-item iconName="aerum" [routerLink]="['/swap/create']">{{'SWAP.SUB_MENU_CREATE_SWAP_ITEM_NAME'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="check-square-o" [routerLink]="['/swap/load']">{{'SWAP.SUB_MENU_LOAD_SWAP_ITEM_NAME'|translate}}</aer-sidebar-item>
  </aer-sidebar-group>
  <aer-sidebar-group title="{{'KYC'|translate}}" iconName="kyc">

  </aer-sidebar-group>

  <aer-sidebar-group title="{{'BLOCKCHAIN_EXPLORER'|translate}}" iconName="bc-explorer">
    <aer-sidebar-item iconName="blocks" [routerLink]="['/explorer/blocks']">{{'BLOCKS'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="transaction" [routerLink]="['/explorer/transactions']">{{'TXNS'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="pending" [routerLink]="['/explorer/transactions/pending']">{{'PENDING_TXNS'|translate}}</aer-sidebar-item>
  </aer-sidebar-group>

  <aer-sidebar-group title="{{'DIAGNOSTICS'|translate}}" iconName="bc-diagnosticview">
    <aer-sidebar-item iconName="diagnosticview" [routerLink]="['/diagnostics']">{{'OVERVIEW'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="diagnosticview" [routerLink]="['/diagnostics/stats']">Test Page</aer-sidebar-item>
  </aer-sidebar-group>

  <button (click)="logout()">Logout</button>
</aer-sidebar>
<aer-toolbar>
  <app-sidebar-account-select></app-sidebar-account-select>
</aer-toolbar>
<aer-content>
  <router-outlet></router-outlet>
</aer-content>

