<div class="o-confirm--seed">
  <p>
    {{'ACCOUNT.BACKUP_DISCLAIMER.WARNING_1'|translate}}
  </p>
  <p>
    {{'ACCOUNT.BACKUP_DISCLAIMER.WARNING_2'|translate}}
  </p>
  <p>
    {{'ACCOUNT.BACKUP_DISCLAIMER.WARNING_3'|translate}}
  </p>
  <app-divider [showLine]="false"></app-divider>
  <aer-modal-button class="large full-width" (buttonFn)="dialogRef.dismiss()">{{'ACCOUNT.BACKUP_DISCLAIMER.ACKNOWLEDGE_BTN' | translate}}</aer-modal-button>
</div>
<!-- <aer-modal-dialog>
    <div class="o-confirm--seed">
        <h1>{{'ACCOUNT.BACKUP_DISCLAIMER.TITLE'|translate}}</h1>
        <p>
            {{'ACCOUNT.BACKUP_DISCLAIMER.WARNING_1'|translate}}
        </p>
        <p>
            {{'ACCOUNT.BACKUP_DISCLAIMER.WARNING_2'|translate}}
        </p>
        <p>
            {{'ACCOUNT.BACKUP_DISCLAIMER.WARNING_3'|translate}}
        </p>
        <app-divider [showLine]="false"></app-divider>

    </div>
</aer-modal-dialog> -->
