.o-confirm--seed  {
  max-width: 374px;
  text-align: center;
  color: #83868a;

  h1 {
    font-size: 36px;
    line-height: 1.1;
    color: #27282a;
    font-weight: normal;
    text-align: center;
    position: relative;
    margin-top:0;
    
    &:after {
      position: absolute;
      background-color: #dedede;
      content: ' ';
      height: 1px;
      width: 80px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    
    &:after {
      bottom:-12px;
    }
    
  }
}
