<aer-modal-container>
    <div class="register">
        <div class="register__header">{{ 'CREATE_NEW_ACCOUNT' | translate }}</div>
        <app-divider></app-divider>
        <p class="aer-small register__paragraph">
            {{ 'SIGNED_UP_PREFIX' | translate }}
            <a routerLink="/login">{{ 'SIGNED_UP_LINK' | translate }}</a> {{ 'SIGNED_UP_SUFFIX' | translate }}
        </p>
        <app-divider></app-divider>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <p class="register__paragraph--small">{{ 'CHOOSE_AVATAR' | translate }}</p>
            <app-avatar-select formControlName="avatar"></app-avatar-select>
            <p class="register__paragraph--small">{{ 'UNIQUE_AVATAR' | translate }}</p>
            <aer-input placeholder="Choose your password" type="password" formControlName="password" [(ngModel)]="password" ngDefaultControl equalValidator="confirmPassword" reverse="true"></aer-input>
            <aer-input placeholder="Repeat password" type="password" formControlName="confirmPassword" [(ngModel)]="confirmPassword" ngDefaultControl equalValidator="password"></aer-input>
            <aer-button [disabled]="!registerForm.valid" (click)="onSubmit()">CONTINUE</aer-button> 
        </form>
    </div>
</aer-modal-container>