<aer-modal-container>
  <div class="backup-confirmation">
    <div class="header">{{'CREATE_BACKUP'|translate}}</div>
    <hr class="line">
    <div class="b-text">{{'BACKUP_PHRASE'|translate}}</div>
    <div class="button">
        <aer-button>{{'CREATE_BACKUP'|translate}}</aer-button>
    </div>
    <div class="b-backup">
      <p>
        <span class="surrounded"> {{'OR'|translate}} </span>
      </p>
    </div>
    <div class="skip-text">
        <a routerLink="/bck">{{'SKIP_STEP'|translate}}</a>
    </div>
  </div>
</aer-modal-container>