

<app-search></app-search>
<section class="o-section o-section__blockInfo">
  <div class="o-site-wrap o-site-wrap--padding">
      <div class="o-grid o-grid--gutter-sm">
          <div class="o-grid__item u-1/1@lg u-1/1@md u-1/1@sm u-1/1">
              <h1>Block Information #{{ block.number }} </h1>
              <p class="u-bw">hash {{ block.hash}}</p>
              <p class="u-bw">timestamp Ago : {{ block.timestamp | transactionTimeAgo  }}</p>
              <p class="u-bw">timestamp UTC : {{ block.timestamp | transactionTimeStamp  }} </p>
              <p class="u-bw">difficulty : {{ block.difficulty }}</p>
              <p class="u-bw">nonce : {{ block.nonce }}</p>
              <p class="u-bw">size : {{ block.size }}</p>
              <p class="u-bw">
                  <a class="u-click" (click)="inspectAddress(block.miner)">View block miner {{ block.miner}}</a>
              </p>
              <p class="u-bw">gasLimit : {{ block.gasLimit }}</p>
              <p class="u-bw">extraData : {{ block.extraData }}</p>
              <p class="u-bw">extraData Convert to String : {{ block.extraData | hexToText }}</p>
              <p class="u-bw">gasUsed : {{ block.gasUsed }}</p>
              <p class="u-bw">parentHash : {{ block.parentHash }}</p>                                                                                                                                
              <p class="u-bw">totalDifficulty : {{ block.totalDifficulty }}</p>
          </div>           
      </div>
  </div>
</section>
    




<section class="o-section o-section__blockInfo">
  <div class="o-site-wrap o-site-wrap--padding">
      <div class="o-grid o-grid--gutter-sm">
          <div class="o-grid__item u-1/1@lg u-1/1@md u-1/1@sm u-1/1">

              <div *ngIf="transactions.length >= 1; then hasTransaction else noTransaction"></div>   
              <ng-template #noTransaction>
                <h1>
                    This block contains no transactions
                </h1>
              </ng-template>
              <ng-template #hasTransaction>             
              <h1>This block contains transactions</h1>
              <div class="c-table c-table--fixed">
                  <div class="c-table--row">
                      <div class="c-table--cell">
                          Block Hash
                      </div>
                      <div class="c-table--cell">
                          Block #
                      </div>  
                      <div class="c-table--cell">
                          From
                      </div>
                      <div class="c-table--cell">
                          Gas 
                      </div>  
                      <div class="c-table--cell">
                          Hash
                      </div>
                      <div class="c-table--cell">
                          Input
                      </div>  
                      <div class="c-table--cell">
                          Nonce
                      </div>
                      <div class="c-table--cell">
                          To
                      </div>      
                      <div class="c-table--cell">
                          Txn Index
                      </div>
                      <div class="c-table--cell">
                          Value
                      </div>      
                      <div class="c-table--cell">
                          V
                      </div>
                      <div class="c-table--cell">
                          R
                      </div>
                      <div class="c-table--cell">
                          S
                      </div>                                                
                  </div>
                  <div class="c-table--row" *ngFor="let txn of transactions">
                      <div class="c-table--cell u-bw">
                          {{ txn.blockHash }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.blockNumber }}
                      </div>  
                      <div class="c-table--cell u-bw">
                          {{ txn.from }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.gas }} 
                      </div>  
                      <div class="c-table--cell u-bw">
                          {{ txn.gasPrice }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.hash }}
                      </div>                              
                      <div class="c-table--cell u-bw">
                          {{ txn.input }}
                      </div>  
                      <div class="c-table--cell u-bw">
                          {{ txn.nonce }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.to }}
                      </div>      
                      <div class="c-table--cell u-bw">
                          {{ txn.transactionIndex }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.value }}
                      </div>      
                      <div class="c-table--cell u-bw">
                          {{ txn.v }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.r }}
                      </div>
                      <div class="c-table--cell u-bw">
                          {{ txn.s }}
                      </div>                                                
                  </div>
              </div>
          </ng-template>  

          </div>            
      </div>
  </div>
</section>
