h3 {
  margin-top: 0;
  margin-bottom: 14px;
  margin-right: 10px;
  color: #42526e;
  font-weight: 500;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
  
  .col-sm-1 {
    padding: 0 10px;

    @media(min-width: 768px) {
      width: 8.3%;
      float: left;
    }
  }

  .col-sm-2 {
    padding: 0 10px;

    @media(min-width: 768px) {
      width: 16.5%;
      float: left;
    }
  }

  .col-sm-3 {
    padding: 0 10px;

    @media(min-width: 768px) {
      width: 25%;
      float: left;
    }
  }

  .col-sm-4 {
    padding: 0 10px;
    @media(min-width: 768px) {
      width: 33%;
      float: left;
    }
  }

  .col-sm-6 {
    padding: 0 10px;

    @media(min-width: 768px) {
      width: 50%;
      float: left;
    }
  }

  .col-sm-8 {
    padding: 0 10px;

    @media(min-width: 768px) {
      width: 66.6%;
      float: left;
    }
  }

  .col-sm-10 {
    padding: 0 10px;

    @media(min-width: 768px) {
      width: 82%;
      float: left;
    }
  }

  .col-sm-12 {
    padding: 0 10px;
    width: 100%;

    @media(min-width: 768px) {
      float: left;
    }
  }
}

.title {
  font-size: 28px;
  color: #2d353d;
  padding-left: 38px;
  font-family: 'OpenSans';
}

.panel {
  padding: 20px 14px;

  .panel-header {
    font-size: 14px;
    background: #e6e6e6;
    color: #2d353d;
    height: 50px;
    display: flex;
    padding-left: 25px;
    align-items: center;
    text-transform: uppercase;
  }

  .panel-content {
    background: #fff;
    color: #83868a;
    padding: 20px 7px;

    .amount-total {
      font-size: 28px;
      padding: 15px 0;
    }

    .input-name {
      color: #2d353d;
      font-size: 14px;
      font-weight: 600;
    }

    label {
      font-size: 14px;
    }
  }

  hr {
    margin: 15px 0;
    color: #d1d1d1;
  }

  .show-more-button {
    padding: 25px 0;
  }

  .show-more-label-div {
    color: #2a669a;
    font-size: 12px;
    text-align: center;
    padding-top: 28px;

    .show-more-label {
      display: inline;
      cursor: pointer;
    }
  }

  &.min-width-470 {
    min-width: 470px;
  }
}
