<div class="o-loginPage">
  <div class="login o-authForm" >
    <mat-card class="" fxFlex="500px" class="mat-elevation-z6">
      <mat-toolbar color="primary">AerWallet</mat-toolbar>
      <mat-card-content>
          <h1>
              {{ 'WELCOME' | translate }}
          </h1>
          <h2>{{ 'BACK_BUTTON_TEXT' | translate }}h</h2>
          <p>
              Become part of a fast-growing area of the crypto world. You are the only person who can access your crypto assets.
          </p>
          <div>
              <button mat-button type="button" color="primary" [routerLink]="['/signup']">Sign up</button>
          </div>          
      </mat-card-content>
    </mat-card>
  </div>  
</div>

