<div class="settings__form">
  <div class="settings__vertical-container">
    <h3>{{ 'SETTINGS.SYSTEM.TAB_TITLE' | translate }}</h3>
    <app-divider [fullWidth]="true"></app-divider>
    <form [formGroup]="settingsForm">
      <p>
        {{ 'SETTINGS.SYSTEM.AERUM_RPC_URL' | translate }}
      </p>
      <aer-input
        [ngClass]="{ 'has-error': !settingsForm.controls['RPC URL'].valid && settingsForm.controls['RPC URL'].touched }"
        placeholder="{{ 'SETTINGS.SYSTEM.AERUM_RPC_URL' | translate }}"
        formControlName="RPC URL"
        ngDefaultControl
        [(ngModel)]="systemSettings.aerumNodeRpcURI"
        icon="aerumleaf"
      ></aer-input>
      <p>
        {{ 'SETTINGS.SYSTEM.ETHEREUM_NODE_URL' | translate }}
      </p>
      <aer-input
        [ngClass]="{ 'has-error': !settingsForm.controls['Ethereum Node URL'].valid && settingsForm.controls['Ethereum Node URL'].touched }"
        placeholder="{{ 'SETTINGS.SYSTEM.ETHEREUM_NODE_URL' | translate }}"
        formControlName="Ethereum Node URL"
        ngDefaultControl
        [(ngModel)]="systemSettings.ethereumNodeURI"
        icon="ehtereum"
      ></aer-input>
    </form>
  </div>
  <div class="settings__save-button">
    <aer-button class="blue large" (buttonFn)="saveSettings()">{{ 'COMMON.BUTTONS.SAVE' | translate }}</aer-button>
  </div>
</div>
