<div class="settings--form">
    <div class="vertical--container">
        <h3>System</h3>
        <app-divider [fullWidth]="true"></app-divider>
        <p>
          Aerum Node Websocket URL
        </p>
        <aer-input placeholder="Aerum Websocket URL" [(ngModel)]="systemSettings.aerumNodeWsURI" icon="aerum"></aer-input>
        <p>
          Aerum Node RPC URL
        </p>
        <aer-input placeholder="Aerum RPC URL" [(ngModel)]="systemSettings.aerumNodeRpcURI" icon="aerumleaf"></aer-input>
        <p>
          Ethereum Node URL
        </p>
        <aer-input placeholder="Ethereum node URL" [(ngModel)]="systemSettings.ethereumNodeURI" icon="ehtereum"></aer-input>
    </div>
    <div class="vertical--container save--button">
        <aer-button class="blue" (buttonFn)="saveSettings()">Save</aer-button>
    </div>
  </div>