<div class="settings--form">
    <div class="vertical--container">
        <h3>{{'SETTINGS.SYSTEM.TAB_TITLE'|translate}}</h3>
        <app-divider [fullWidth]="true"></app-divider>
        <form [formGroup]="settingsForm">
            <p>
                {{'SETTINGS.SYSTEM.AERUM_WEBSOCKET_URL'|translate}}
            </p>
            <aer-input [ngClass]="{'has-error':!settingsForm.controls['Websocket URL'].valid && settingsForm.controls['Websocket URL'].touched}" placeholder="{{'SETTINGS.SYSTEM.AERUM_WEBSOCKET_URL'|translate}}" formControlName="Websocket URL" ngDefaultControl [(ngModel)]="systemSettings.aerumNodeWsURI" icon="aerum"></aer-input>
            <p>
                {{'SETTINGS.SYSTEM.AERUM_RPC_URL'|translate}}
            </p>
            <aer-input [ngClass]="{'has-error':!settingsForm.controls['RPC URL'].valid && settingsForm.controls['RPC URL'].touched}" placeholder="{{'SETTINGS.SYSTEM.AERUM_RPC_URL'|translate}}" formControlName="RPC URL" ngDefaultControl [(ngModel)]="systemSettings.aerumNodeRpcURI" icon="aerumleaf"></aer-input>
            <p>
                {{'SETTINGS.SYSTEM.ETHEREUM_NODE_URL'|translate}}
            </p>
            <aer-input [ngClass]="{'has-error':!settingsForm.controls['Ethereum Node URL'].valid && settingsForm.controls['Ethereum Node URL'].touched}" placeholder="{{'SETTINGS.SYSTEM.ETHEREUM_NODE_URL'|translate}}" formControlName="Ethereum Node URL" ngDefaultControl [(ngModel)]="systemSettings.ethereumNodeURI" icon="ehtereum"></aer-input>
        </form>
    </div>
    <div class="vertical--container save--button">
        <aer-button class="blue" (buttonFn)="saveSettings()">{{'COMMON.BUTTONS.SAVE'|translate}}</aer-button>
    </div>
  </div>