.aens {
    &__price-info {
        display: -webkit-flex; /* Safari */
        display: flex;
        justify-content: space-between;

        &__aero {
            font-size: 20px;
        }
    }
}