<aer-card title="{{'ENS.BUY_NAME_TITLE'|translate}}">
  <form [formGroup]="buyForm">
    <div aerRow>
      <div aerColumn size="sm-12">
        <div class="input-name fullrow-label">{{'ENS.FIELD_ADDRESS'|translate}}</div>
      </div>
    </div>

    <div aerRow>
      <div aerColumn size="sm-6">
        <aer-input icon="fuchsia" [(ngModel)]="address" [ngClass]="{'has-error': hasError(buyForm.controls.address)}" [disabled]="disableAddress || locked" formControlName="address" ngDefaultControl></aer-input>
      </div>
      <div aerColumn size="sm-6">
        {{'ENS.ADDRESS_SET_DESCRIPTION'|translate}}
      </div>
    </div>

    <div aerRow>
      <div aerColumn size="sm-12">
        <div class="input-name fullrow-label">{{'ENS.FIELD_NAME'|translate}}</div>
      </div>
    </div>

    <div aerRow>
      <div aerColumn size="sm-6">
        <aer-input [(ngModel)]="name" class="blue" [ngClass]="{'has-error': hasError(buyForm.controls.name)}" readonly="readonly" formControlName="name" ngDefaultControl></aer-input>
        <aer-checkbox [(ngModel)]="assignName" formControlName="assignName" (ngModelChange)="setAssignName($event);">{{'ENS.ASSIGN_THE_NAME_TO_ACCOUNT'|translate}}</aer-checkbox>
      </div>
      <div aerColumn size="sm-6" class="aens__price-info">
        <div>{{'ENS.FIELD_PRICE'|translate}}</div>
        <div class="aens__price-info__aero">{{price | number:'1.2-5'}} Gas</div>
      </div>
    </div>
    <app-divider [showLine]="true" [fullWidth]="true"></app-divider>
    <div aerRow>
      <div aerColumn size="sm-12">
        <aer-button class="aens__btn-buy normal" [ngClass]="{'blue': canBuyName()}" (buttonFn)="buyName()" [disabled]="!canBuyName()">{{'ENS.BTN_BUY_NAME'|translate}}</aer-button>
      </div>
    </div>
  </form>
</aer-card>
