<aer-modal-dialog >
  <div class="c-transaction c-transaction__table c-transaction__unlock">
    <div class="o-closeModal o-closeModal__signTxn">
        <div class="o-closeModal__btn" (click)="dismiss()">
            <svg class="o-closeModal__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve">
                <g><path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                    c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                    C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                    s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>                  
        </div>        
    </div>          
    <h1>{{ title || 'Confirm transaction'}}</h1>
    <ul class="o-txnID u-lreset">
      <li>
        <ul class="o-txnID__person u-lreset">
          <li>
              <div class="u-marginCntr c-avatar__img" [style.background-image]="'url(' + senderAvatar + ')'"></div>
          </li>
          <li>
              {{ senderAddress }}
          </li>
        </ul>
        <ul class="o-txnID__person o-txnID__arrow u-lreset">
            <li><aer-icon>angle-right</aer-icon></li>
        </ul>
        <ul class="o-txnID__person u-lreset">
            <li>
                <div class="u-marginCntr c-avatar__img" [style.background-image]="'url(' + receiverAvatar + ')'"></div>
            </li>
            <li>
                {{ receiverAddress }}
            </li>
          </ul>        
      </li>
    </ul>
    <div class="">
        <p *ngIf="text">
            {{ text }}
        </p>
    </div>
      <div class="o-table">
           <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                {{ 'AMOUNT' | translate }}
              </div>     
              <div class="o-table__cell o-data--right">
                {{ amount }} {{ token }}
              </div>                          
          </div>
          <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                {{ 'MAX_TRANSACTION_FEE' | translate }}
              </div>     
              <div class="o-table__cell o-data--right">
                {{ maxFee }}
              </div>                          
          </div>
          <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                  {{ 'FEE' | translate }}
              </div>     
              <div class="o-table__cell o-data--right">
                  {{ fee }} AERO
              </div>                          
          </div>          
      </div>
      <!-- <div *ngIf="external" class="pin">
        <span>PIN</span>
        <input [(ngModel)]="pin" placeholder="Type your pin here" />
        <div class="clearfix"></div>
      </div> -->
      <aer-checkbox *ngIf="checkbox" [(ngModel)]="checked">I acknowledge risks.</aer-checkbox>
      <aer-button [disabled]="checkbox && !checked" [ngClass]="{'disabled': checkbox && !checked}" (buttonFn)="accept()" class="blue large full-width">Send transaction</aer-button>
      <aer-button (buttonFn)="dismiss()" class="large full-width">Cancel</aer-button>
  </div>
</aer-modal-dialog>
