<div class="c-transaction c-transaction__table c-transaction__unlock">
  <div aerRow>
    <div aerColumn size="md-12">
      <app-from-to-avatar [senderAddress]="dialogRef.data.senderAddress" [recieverAddress]="dialogRef.data.receiverAddress"></app-from-to-avatar>
    </div>
  </div>
  <div aerRow>
    <div aerColumn size="md-12">
        <div class="o-table">
            <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                {{ 'AMOUNT' | translate }}
              </div>
              <div class="o-table__cell o-data--right">
                {{ dialogRef.data.amount }} {{ dialogRef.data.token }}
              </div>
            </div>
            <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                {{ 'FEE' | translate }}
              </div>
              <div class="o-table__cell o-data--right">
                {{ dialogRef.data.fee }} {{ 'AERO' | translate }}
              </div>
            </div>
          </div>
    </div>
  </div>
  <aer-modal-button [isAcceptButton]="true" (buttonFn)="accept()">Send transaction</aer-modal-button>
  <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'COMMON.BUTTONS.CANCEL' | translate}}</aer-modal-button>
</div>
