<aer-modal-dialog >
  <div class="c-transaction c-transaction__table c-transaction__unlock">
    <h1>{{ title || 'Confirm transaction'}}</h1>
    <ul class="o-txnID u-lreset">
      <li>
        <ul class="o-txnID__person u-lreset">
          <li>
              <div class="u-marginCntr c-avatar__img" [style.background-image]="'url(' + senderAvatar + ')'"></div>
          </li>
          <li>
              {{ senderAddress }}
          </li>
        </ul>
        <ul class="o-txnID__person o-txnID__arrow u-lreset">
            <li><aer-icon>angle-right</aer-icon></li>
        </ul>
        <ul class="o-txnID__person u-lreset">
            <li>
                <div class="u-marginCntr c-avatar__img" [style.background-image]="'url(' + receiverAvatar + ')'"></div>
            </li>
            <li>
                {{ receiverAddress }}
            </li>
          </ul>        
      </li>
    </ul>
    <div class="">
        <p *ngIf="text">
            {{ text }}
        </p>
    </div>
      <div class="o-table">
           <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                {{ 'AMOUNT' | translate }}
              </div>     
              <div class="o-table__cell o-data--right">
                {{ amount }}
              </div>                          
          </div>
          <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                {{ 'MAX_TRANSACTION_FEE' | translate }}
              </div>     
              <div class="o-table__cell o-data--right">
                {{ maxFee }}
              </div>                          
          </div>
          <div class="o-table__row">
              <div class="o-table__cell o-data--left">
                  {{ 'FEE' | translate }}
              </div>     
              <div class="o-table__cell o-data--right">
                  {{ fee }}
              </div>                          
          </div>          
      </div>
      <aer-button (buttonFn)="accept()" class="blue">Send transaction</aer-button>
      <aer-button (buttonFn)="dismiss()">Cancel</aer-button>
  </div>
</aer-modal-dialog>
