.c-transaction {
  &__unlock {
    width: 400px;
  }
}

.u-lreset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.o-txnID {
  &__person {
    vertical-align: middle;
    display: inline-block;
    li:first-child {
      margin-bottom: 10px;
    }
  }
  &__arrow {
    font-size: 30px;
    line-height: 2;
    margin: 0 20px;
  }
}

.message-text {
  margin-bottom: 40px;
  display: block;
}

.c-transaction__table {
  color:#83868A;
  font-size: 13px;
  line-height: 1;
  text-align:center;
  h1 {
    font-size: 36px;
    font-weight: normal;
    color: #27282A;
    margin: 0 0 38px;
  }
  aer-button {
    margin-bottom: 20px;
    display: block;
  }
}

.o-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 46px 0 25px;
  &__row {
    display: table-row;
  }
  &__cell {
    display: table-cell;
    padding-bottom: 15px;
    &.o-data--left {
      text-align: left;
    }
    &.o-data--right {
      text-align: right;
    }
  }  
}


// add this class to the ui framework - it has been duplicated across 3 components now (side bar header, registration create screen, txn modal )
.c-avatar__img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(2.2) saturate(2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  &.u-marginCntr {
    margin:0 auto;
  }
}

.pin {
  margin-bottom: 30px;

  input {
    float: right;
    width: calc(40% - 20px);
    border: none;
    padding: 10px;
    border-radius: 10px;
  }

  span {
    float: left;
    padding-top: 10px;
  }

  .clearfix {
    clear: both;
  }
}
