@mixin reptilehaus-offsets($action, $fractions) {
  $property: '';
  $class: $action + '-';

  @if $action == 'push' {
    $property: 'left';
  } @elseif $action == 'pull' {
    $property: 'right';
  } @else {
    $property: 'width';
    $class: '';
  }

  @each $key, $value in $fractions {
    $modifier: reptilehaus-str-replace($key, '/', '\\/');
    $offset-value: (($value * 100) * 1%);

    .u-#{$class}#{$modifier} {
      #{$property}: $offset-value;
    }
  }

  @each $bp-key, $bp-value in $reptilehaus-breakpoints {
    @include boa-respond($bp-key) {
      @each $key, $value in $fractions {
        $modifier: reptilehaus-str-replace($key, '/', '\\/');
        $offset-value: (($value * 100) * 1%);
        .u-#{$class}#{$modifier}\@#{$bp-key} {
          #{$property}: $offset-value;
        }
      }
    }
  }
}
