@mixin reptilehaus-section() {
  @each $key, $value in $reptilehaus-section-spacing {
    $class: '-' + $key;
    .o-section#{$class} {
      padding-top: $value;
      padding-bottom: $value;
    }

    @each $bp-key, $bp-value in $reptilehaus-breakpoints {
      @include boa-respond($bp-key) {
        .o-section#{$class}\@#{$bp-key} {
          padding-top: $value;
          padding-bottom: $value;
        }
      }
    }
  }
}
