<aer-modal-dialog>
    <div class="explorer detail-modal" *ngIf="block">    
      <div class="title">{{'BLOCK'|translate}}</div>
      <app-divider></app-divider>
      <div class="link" (click)="openBlock(block.number)">{{block.number}}</div>
      <div><p class="aer-small">{{block.timestamp | transactionTimeStamp  }} </p></div>
      <div class="age">({{block.timestamp | transactionTimeAgo  }})</div>
      <div class="transaction-table">
        <div class="tr">
          <div class="name">
            {{'TXNS'|translate}}
          </div>
          <div class="value">
            {{block.transactions.length}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'HASH'|translate}}
          </div>
          <div class="value copy" (click)="copyToClipboard(block.hash)">
            {{block.hash | slice:0:8}}...{{block.hash | slice:-6}}
          </div>
        </div>
        <div class="tr">
            <div class="name">
              {{'PARENT_HASH'|translate}}
            </div>
            <div class="value copy" (click)="copyToClipboard(block.parentHash)">
                {{block.parentHash | slice:0:8}}...{{block.parentHash | slice:-6}}
            </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'SIZE'|translate}}
          </div>
          <div class="value">
              {{block.size}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_USED'|translate}}
          </div>
          <div class="value">
              {{block.gasUsed }}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_LIMIT'|translate}}
          </div>
          <div class="value">
              {{block.gasLimit }}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'NONCE'|translate}}
          </div>
          <div class="value">
              {{block.nonce}}
          </div>
        </div>
        <div class="tr">
            <div class="name">
              {{'EXTRA_DATA'|translate}}
            </div>
            <div class="value copy" (click)="copyToClipboard(block.extraData)">
                {{block.extraData  | hextoAscii  }}
            </div>
        </div>
      </div>
    </div>
    <div *ngIf="!block">
      <div class="title">{{'BLOCK'|translate}}</div>
      <p>{{blockNumber}}</p>
    </div>
    <app-divider [showLine]="false"></app-divider>
    <aer-button (click)="close()" class="large full-width">Close</aer-button>
  </aer-modal-dialog>