<div class="explorer detail-modal" *ngIf="dialogRef.data.block">
  <div aerRow>
    <div aerColumn size="md-12">
      <div class="link" (click)="openBlock(dialogRef.data.block.number)">{{dialogRef.data.block.number}}</div>
      <div>
        <p class="aer-small">{{dialogRef.data.block.timestamp | transactionTimeStamp }} </p>
      </div>
      <div class="age">({{dialogRef.data.block.timestamp | transactionTimeAgo }})</div>
    </div>
  </div>
  <div aerRow>
    <div aerColumn size="md-12">
      <div class="transaction-table">
        <div class="tr">
          <div class="name">
            {{'TXNS'|translate}}
          </div>
          <div class="value">
            {{dialogRef.data.block.transactions.length}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'HASH'|translate}}
          </div>
          <div class="value copy" (click)="copyToClipboard(dialogRef.data.block.hash)">
            {{dialogRef.data.block.hash | slice:0:8}}...{{dialogRef.data.block.hash | slice:-6}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'PARENT_HASH'|translate}}
          </div>
          <div class="value copy" (click)="copyToClipboard(dialogRef.data.block.parentHash)">
            {{dialogRef.data.block.parentHash | slice:0:8}}...{{dialogRef.data.block.parentHash | slice:-6}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'SIZE'|translate}}
          </div>
          <div class="value">
            {{dialogRef.data.block.size}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_USED'|translate}}
          </div>
          <div class="value">
            {{dialogRef.data.block.gasUsed }}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'GAS_LIMIT'|translate}}
          </div>
          <div class="value">
            {{dialogRef.data.block.gasLimit }}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'NONCE'|translate}}
          </div>
          <div class="value">
            {{dialogRef.data.block.nonce}}
          </div>
        </div>
        <div class="tr">
          <div class="name">
            {{'EXTRA_DATA'|translate}}
          </div>
          <div class="value copy" (click)="copyToClipboard(dialogRef.data.block.extraData)">
            {{dialogRef.data.block.extraData | hextoAscii }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'BUTTONS.CLOSE' | translate}}</aer-modal-button>
