.aens {
  &__name-info {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 0 6px;

    &--available,
    &--owner {
      color: #8ccc67;
    }

    &--not-available {
      color: #733398;
    }
  }
}
