<div aerRow class="explorer">
    <div aerColumn size="sm-12 md-12">
        <h3>{{'LAST_TRANSACTIONS'|translate}}</h3>
        <aer-card>
            {{'EXPLORER.SHOWING_TRANSACTIONS'|translate}}
            <b>{{latestBlock}} - {{highBlock}}</b>
            <app-divider [showLine]="false"></app-divider>
            <aer-table [data]="transactions" [paginator]="false" [perfectScrollbarDisabled]="perfectScrollbarDisabled">
                <ng-template aerTemplate="header">
                    <th class="">{{'TX_HASH'|translate}}</th>
                    <th class="">{{'BLOCK'|translate}}</th>
                    <th class="">{{'AGE'|translate}}</th>
                    <th class="">{{'VALUE'|translate}}</th>
                </ng-template>
                <ng-template aerTemplate="body" let-transaction>
                    <tr>
                        <td class="link hash" (click)="openTransaction(transaction)">{{transaction.hash|slice:0:20}}...</td>
                        <td class="link block" (click)="openBlock(transaction)">{{transaction.blockNumber}}</td>
                        <td class="age">{{transaction.timestamp | transactionTimeAgo }}</td>
                        <td class="value">{{transaction.value | convertToEther }} {{'AERO'|translate}}</td>
                    </tr>
                </ng-template>
            </aer-table> 
            <app-divider [showLine]="false" ></app-divider>
            <aer-button class="full-width blue" (buttonFn)="loadTransactions()">{{'EXPLORER.SCAN_MORE'|translate}}</aer-button>
        </aer-card>
    </div>
</div>