<div class="create-swap-confirm-dialog">
  <div aerRow>
    <div aerColumn="md-12">
      <div class="table-simple">
        <div>
          <div>
            {{ 'SWAP.CREATE.FIELD_SWAP_ID' | translate }}
          </div>
          <div>
            {{ dialogRef.data.swapId }}
          </div>
        </div>
        <div>
          <div>
            <app-token-description [token]="dialogRef.data.token"></app-token-description>
          </div>
          <div>
            {{ dialogRef.data.tokenAmount }}
          </div>
        </div>
        <div>
          <div>
            {{ 'SWAP.CREATE.FIELD_COUNTERPARTY' | translate }}
          </div>
          <div>
            {{ dialogRef.data.counterpartyAddress | truncate: 32 }}
          </div>
        </div>
        <div>
          <div>
            {{ dialogRef.data.counterpartyToken.symbol }}
          </div>
          <div>
            {{ dialogRef.data.counterpartyTokenAmount }}
          </div>
        </div>
        <div>
          <div>
            {{ 'SWAP.CREATE.FIELD_RATE' | translate }}
          </div>
          <div>
            {{ dialogRef.data.rate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <aer-modal-button [isAcceptButton]="true" (buttonFn)="onCreate()">{{'SWAP.CREATE.BTN_CREATE'|translate}}</aer-modal-button>
  <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'COMMON.BUTTONS.CANCEL' | translate}}</aer-modal-button>
</div>
