.settings {
  background: rgba(255, 255, 255, 0.12);
  width: 100%;
  position: relative;
  min-height: 800px;

  & > .settings__tab {
    cursor: pointer;

    & > aer-icon {
      position: absolute;
      margin-top: -40px;
      padding: 0 20px;
      font-size: 20px;
      transition: all 0.5s;
    }

    & > span {
      display: block;
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      z-index: 9;
    }

    &--selected {
      & > span {
        background: rgba(255, 255, 255, 0.12);
        transition: all 0.5s;
        text-shadow: 0 0 6px;

        & + aer-icon {
          text-shadow: 0 0 6px;
        }
      }
    }
  }

  &__tab-content {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.12);

    & > section {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__save-button {
    align-self: end;
  }

  &-ethereum-wallet {
    &__injected {
      display: flex;
      justify-content: start;
    }

    &__balance {
      display: flex;
      justify-content: space-between;
    }
    &__addressQR {
      text-align: center;
    }
    &__label {
      text-align: left;
      margin-right: 14px;
    }
    &__address-option {
      .aer-radio {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 641px) {
  .settings {
    & > .settings__tab {
      & > span {
        width: 60px;
        height: 60px;
        filter: alpha(opacity=0);
        opacity: 0;
      }
    }

    &__tab-content {
      width: calc(100% - 60px);
    }
  }
}
