<aer-modal-dialog>
  <div class="c-create-swap c-create-swap__table c-create-swap__unlock">
    <h1>{{'SWAP.CREATE.TITLE'|translate}}</h1>
    <div class="o-table">
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ 'SWAP.CREATE.FIELD_SWAP_ID' | translate }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.swapId }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ param.token.symbol }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.tokenAmount }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ 'SWAP.CREATE.FIELD_COUNTERPARTY' | translate }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.counterpartyAddress | truncate: 32 }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ param.counterpartyToken.symbol }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.counterpartyTokenAmount }}
            </div>
        </div>
        <div class="o-table__row">
            <div class="o-table__cell o-data--left">
              {{ 'SWAP.CREATE.FIELD_RATE' | translate }}
            </div>     
            <div class="o-table__cell o-data--right">
              {{ param.rate }}
            </div>
        </div>
    </div>
    <aer-button (buttonFn)="onCreate()" class="large full-width blue">{{'SWAP.CREATE.BTN_CREATE'|translate}}</aer-button>
    <aer-button (buttonFn)="onCancel()" class="large full-width">{{'SWAP.CREATE.BTN_CANCEL'|translate}}</aer-button>
  </div>
</aer-modal-dialog>