<div class="transaction-sign-modal">
  <div aerRow>
    <div aerColumn size="md-12">
      <app-from-to-avatar [senderAddress]="dialogRef.data.senderAddress" [recieverAddress]="dialogRef.data.receiverAddress"></app-from-to-avatar>
    </div>
  </div>
  <div aerRow>
    <div aerColumn size="md-12">
      <div class="table-simple">
        <div>
          <div>
            {{ 'AMOUNT' | translate }}
          </div>
          <div>
            {{ dialogRef.data.amount }} {{ dialogRef.data.token }}
          </div>
        </div>
        <div>
          <div>
            {{ 'FEE' | translate }}
          </div>
          <div>
            {{ dialogRef.data.fee }} {{ 'AERO' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <aer-modal-button [isAcceptButton]="true" (buttonFn)="accept()">{{'TRANSACTION.SIGN_MODAL.SEND_TEXT'|translate}}</aer-modal-button>
  <aer-modal-button (buttonFn)="dialogRef.dismiss()">{{'COMMON.BUTTONS.CANCEL' | translate}}</aer-modal-button>
</div>
