<aer-modal-container>
    <div class="access-recovery">
        <div class="c-registration__step1 o-loginForm" *ngIf="step == 'step_1'">
            <div class="access-recovery"><span class="__header">{{'ACCESS_RECOVERY'|translate}}</span></div>
            <app-divider></app-divider>     <!--Neposúva sa s textom-->
            <p class="access-recovery__paragraph">
                {{'ACCESS_REC_HINT'|translate}}
                <a [routerLink]="['/account/register']"> {{'ACCESS_REC_HINT_SUFF'|translate}}</a>
            </p>
            <app-divider [showLine]="false"></app-divider>
            <aer-button color="blue" inline="true" size="medium" (buttonFn)="confirm()">{{'SEL_KEY'|translate}}</aer-button>
            <input type='file' accept='text/plain' multiple (change)='openSeedFile($event)'>
            <app-divider label="OR"></app-divider>
            <form [formGroup]="accessrecFormFindAddress">
                <aer-textarea formControlName="seed"
                              placeholder="Your seed is 15 words you saved when creating your account"
                              [addition]="address"
                              [(ngModel)]="seedFileText"
                              ngDefaultControl>{{ seedFileText }}</aer-textarea>
                <aer-input formControlName="password" type="password" placeholder="Create new password" ngDefaultControl></aer-input>
                <aer-input formControlName="confirmpassword" type="password" placeholder="Confirm password" ngDefaultControl></aer-input>
                <aer-button [disabled]="!accessrecFormFindAddress.valid" (click)="onSubmitAddress()">Continue</aer-button>
            </form>

            <!-- <form [formGroup]="accessrecFormFindAddress" (ngSubmit)="onSubmitAddress()" class="o-login o-loginForm">
                <div class="o-loginForm__seedBlock">
                    <div class="" minlength="25" required="" aria-invalid="true" aria-required="true">
                        <div class="div-wrap">
                            <textarea formControlName="seed" name="seed" placeholder="{{'KEY_PLACEHOLDER'|translate}}" minlength="25" required="" aria-invalid="true"></textarea>
                        </div>
                    </div> -->

            <!-- for future use <adresse> not specified in TYPE
                            <div class="o-loginForm__addressBlock">
                                <div *ngIf="address; then showAvatar else showAvatarPlaceholder"></div>
                                <ng-template #showAvatarPlaceholder>
                                        <div  class="c-avatarPlaceholder"></div>
                                </ng-template>

                                <ng-template #showAvatar>
                                    <div class="o-avatarWrap" style="width: 40px; height: 40px;">
                                        <img [src]="avatar" width="40" height="40">
                                    </div>
                                </ng-template>

                                <div class="c-hdAddress">
                                    <div class="c-hdAddress__header">Address</div>
                                    <div [ngClass]="{ 'u-filled' : address }" class="c-hdAddress__address"><span *ngIf="address">{{ address }}</span></div>
                                </div>
                            </div>
                            -->
            <!-- </div>

                <!-- Passwords-->
            <!-- <input formControlName="password" type="password" name="password" placeholder="Protect Your Account with a New Password">
                <input formControlName="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password">

                <span *ngIf="accessrecFormFindAddress.controls['password'].hasError('required') && accessrecFormFindAddress.controls['password'].touched"
                    class="login-error">You must include a password.</span>
                <span *ngIf="accessrecFormFindAddress.controls['password'].hasError('minlength') && accessrecFormFindAddress.controls['password'].touched"
                    class="login-error">Your password must be at least 10 characters long.</span>
                <span *ngIf="accessrecFormFindAddress.controls['password'].hasError('upper') && accessrecFormFindAddress.controls['password'].touched"
                    class="login-error">upper error</span>
                <span *ngIf="accessrecFormFindAddress.controls['password'].hasError('lower') && accessrecFormFindAddress.controls['password'].touched"
                    class="login-error">lower error</span>
                <span *ngIf="accessrecFormFindAddress.controls['password'].hasError('number') && accessrecFormFindAddress.controls['password'].touched"
                    class="login-error">number error</span>
                <span *ngIf="accessrecFormFindAddress.controls['confirmpassword'].hasError('notEquivalent') && accessrecFormFindAddress.controls['confirmpassword'].touched && !accessrecFormFindAddress.controls['confirmpassword'].pristine"
                    class="login-error">Confirm Password Does not match</span>

                <button type="submit" mat-button mat-raised-button [disabled]="!accessrecFormFindAddress.valid">Continue</button>
            </form> -->

        </div>
    </div>
</aer-modal-container>