.spin-loader {
    @include loader( 100px, 40%);
}

// .brand-primary {
//     background-color: $brand-primary;
// } //orange
// .brand-secondary {
//     background-color: $brand-secondary;
// } //yellow
// .brand-tertiary {
//     background-color: $brand-tertiary;
// } //grey
// .brand-black {
//     background-color: $brand-black;
// } //grey
// .brand-white {
//     background-color: $brand-white;
// } //grey
// .brand-primary-color {
//     color: $brand-primary;
// } //orange
// .brand-secondary-color {
//     color: $brand-secondary;
// } //yellow
// .brand-tertiary-color {
//     color: $brand-tertiary;
// } //grey
// .brand-black-color {
//     color: $brand-black;
// } //grey
// .brand-white-color {
//     color: $brand-white;
// } //grey
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading;
}

h1 {
    font-size: $font-size-h1;
    line-height: floor(($font-size-h1 * $line-height-base));
}

h2 {
    font-size: $font-size-h2;
    line-height: floor(($font-size-h2 * $line-height-base));
}

h3 {
    font-size: $font-size-h3;
    line-height: floor(($font-size-h3 * $line-height-base));
}

h4 {
    font-size: $font-size-h4;
    line-height: floor(($font-size-h4 * $line-height-base));
}

h5 {
    font-size: $font-size-h5;
    line-height: floor(($font-size-h5 * $line-height-base));
}

h6 {
    font-size: $font-size-h6;
    line-height: floor(($font-size-h6 * $line-height-base));
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    @include placeholder {
        color: $brand-tertiary;
        font-size: $font-size-base;
        line-height: 24px;
    }
}


