.token-list {
  .title-row {
    .title {
      font-size: 18px;
      padding: 0;
    }
  }

  .add-token {
    text-align: right;

    span {
      cursor: pointer;
    }
  }

  .token-item {
    border-bottom: 1px solid #F1F1F3;
    margin: 0 -15px;

    .token-img {
      font-size: 20px;
    }

    .name {
      color: #2D353D;
      font-weight: 600;
    }

    .amount {
      text-align: right;
    }
  }
}
