<div class="token-list panel">
    <div class="panel-content">
      <div class="row title-row">
        <div class="col-sm-8">
            <span class="title">Tokens</span>
        </div>
        <div class="col-sm-4 add-token">
          <button>Add Token</button>
        </div>
      </div>
      <div *ngFor="let token of tokens" class="row token-item">
        <div class="col-sm-1 token-img">
          {{token.icon}}
        </div>
        <div class="col-sm-8 name">
            {{token.name}}
        </div>
        <div class="col-sm-3 amount">
            {{token.amount}}
        </div>
      </div>
    </div>
  </div>
