<div class="token-list panel">
  <div class="panel-content">
    <div class="row title-row">
      <div class="col-sm-6">
          <span class="title">Tokens</span>
      </div>
      <div class="col-sm-6 add-token">
        <aer-button (click)="addToken()" class="small blue">Add Token</aer-button>
      </div>
    </div>
    <div *ngFor="let token of tokens" class="row token-item">
      <div class="col-sm-1 token-img">
        an
      </div>
      <div class="col-sm-8 name">
          {{token.symbol}}
      </div>
      <div class="col-sm-3 amount">
          0
      </div>
    </div>
  </div>
</div>
