<aer-modal-dialog>
  <div class="c-confirm-set-address c-confirm-set-address__table c-confirm-set-address__unlock">
    <h1>{{'ENS.CONFIRM_SET_ADDRESS_TITLE'|translate}}</h1>
    <div class="o-table">
      <div class="o-table__row">
        <div class="o-table__cell o-data--left">
          {{ 'ENS.FIELD_NAME' | translate }}
        </div>
        <div class="o-table__cell o-data--right">
          {{ param.name }}
        </div>
      </div>
      <div class="o-table__row">
        <div class="o-table__cell o-data--left">
          {{ 'ENS.FIELD_OLD_ADDRESS' | translate }}
        </div>
        <div class="o-table__cell o-data--right">
          {{ param.oldAddress | truncate: 32 }}
        </div>
      </div>
      <div class="o-table__row">
        <div class="o-table__cell o-data--left">
          {{ 'ENS.FIELD_ADDRESS' | translate }}
        </div>
        <div class="o-table__cell o-data--right">
          {{ param.newAddress | truncate: 32 }}
        </div>
      </div>
      <div class="o-table__row">
        <div class="o-table__cell o-data--left">
          {{ 'ENS.ESTIMATED_FEE' | translate }}
        </div>
        <div class="o-table__cell o-data--right">
          {{ estimatedFeeInWei | convertToEther | number:'1.0-18' }} Aero
        </div>
      </div>
    </div>
    <aer-button (buttonFn)="accept()" class="large full-width blue">{{ 'ENS.BTN_SET_ADDRESS' | translate }}</aer-button>
    <aer-button (buttonFn)="dismiss()" class="large full-width">{{ 'ENS.BTN_MODAL_CANCEL' | translate }}</aer-button>
  </div>
</aer-modal-dialog>
