.divider--line {
  width: 87px;
  border: 0;
  border-top: 1px solid #c6ccd2;
  margin-bottom: 14px;
  margin-top: 14px;
}

.divider--line-full {
  @extend .divider--line;
  width: 100%;
}

.divider--noline {
  @extend .divider--line;

  border-top: 1px solid transparent !important;
  margin-top: 0;
}

.divider--label {
  color: #83868a;
  margin: 3px;
  font-size: 18px;
  line-height: 24px;
  padding: 0 10px;
  text-align: center;

  p:before,
  p:after {
    background-color: #c6ccd2;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 61px;
  }

  p:before {
    right: 0.5em;
    margin-left: -50%;
  }

  p:after {
    left: 0.5em;
    margin-right: -50%;
  }
}
