<aer-sidebar #sidebar>
  <aer-sidebar-header></aer-sidebar-header>

  <aer-sidebar-group title="{{'SEND_RECEIVE'|translate}}" iconName="transaction" [single]="true" [routerLink]="['/wallet/transaction']"
    routerLinkActive="route-selected"></aer-sidebar-group>

  <aer-sidebar-group title="{{'SWAP.MAIN_MENU_ITEM_NAME'|translate}}" iconName="swap" groupName="swap">
    <aer-sidebar-item iconName="aerum" [routerLink]="['/wallet/swap/create']">{{'SWAP.SUB_MENU_CREATE_SWAP_ITEM_NAME'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="check-square-o" [routerLink]="['/wallet/swap/load']">{{'SWAP.SUB_MENU_LOAD_SWAP_ITEM_NAME'|translate}}</aer-sidebar-item>
  </aer-sidebar-group> 

  <aer-sidebar-group title="{{'INFORMATION'|translate}}" iconName="bc-explorer" groupName="explorer">
    <aer-sidebar-item iconName="blocks" [routerLink]="['/wallet/explorer/blocks']">{{'BLOCKS'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="transaction" [routerLink]="['/wallet/explorer/transactions']">{{'TRANSACTIONS'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="pending" [routerLink]="['/wallet/explorer/transactions/pending']">{{'PENDING_TXNS'|translate}}</aer-sidebar-item>
  </aer-sidebar-group>

  <aer-system-button iconName="home" (buttonFn)="home()"></aer-system-button>
  <aer-system-button iconName="power-off" (buttonFn)="logout()"></aer-system-button>
</aer-sidebar>
<aer-toolbar>
  <app-sidebar-account-select style="display: none!important;"></app-sidebar-account-select>
</aer-toolbar>
<aer-content>
  <router-outlet></router-outlet>
</aer-content>