<div class="o-landingPage">
  <div class="o-landingPageWrapper">
    <ul class="o-Onboarding">
      <li>
        <h1>
            Get Started with Blockchain
        </h1>
      </li>
      <li>
        <p>
            part of a fast-growing area of the crypto world. You are the only person who can access your crypto assets.
        </p>
      </li>      
      <li>
        <button class="c-btn--big c-btn u-blue" [routerLink]="['/create']">GET STARTED</button>
      </li>
      <li>
          <span>OR</span>     
      </li>
      <li>
          <button class="c-btn--big c-btn u-blue" [routerLink]="['/login']">Restore account from backup</button>
      </li>         
    </ul>
  </div>
</div>