.account-overview {
  .title {
    font-size: 18px;
    padding: 0;
  }

  .details {
    line-height: 1.5;
    .balance {
      display: block;
      color: #2D353D;
      font-size: 25px;
      font-weight: bold;
    }
  }

  .qr {
    padding: 0;

    img {
      width: 100%;
    }
  }

  .address {
    margin-top: 10px;
    display: block;

    span {
      font-size: 12px;
      font-weight: 700;
      color: #8CCC67;
      cursor: pointer;
      display: inline-block;
      position: relative;

      &:after {
        position: absolute;
        width: 100px;
        content: "  (Click to copy)";
        white-space: pre;
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width:480px) {
  .account-overview {

    .balance {
      font-size: 21px;
      white-space: nowrap;
    }
  }

}
