<aer-sidebar>
  <aer-sidebar-group title="{{'TRANSACTION'|translate}}" iconName="transaction">
    <aer-sidebar-item iconName="transaction" [routerLink]="['/transaction']">Basic transaction</aer-sidebar-item>
  </aer-sidebar-group>
  <aer-sidebar-group title="{{'STAKING'|translate}}" iconName="staking">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'CONTRACTS'|translate}}" iconName="contract">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'EXCHANGE'|translate}}" iconName="exchange">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'ENS'|translate}}" iconName="ens">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'SWAP'|translate}}" iconName="swap">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'KYC'|translate}}" iconName="kyc">

  </aer-sidebar-group>
  <aer-sidebar-group title="{{'BLOCKCHAIN_EXPLORER'|translate}}" iconName="bc-explorer">
    <aer-sidebar-item iconName="blocks" [routerLink]="['/explorer/blocks']">{{'BLOCKS'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="transaction" [routerLink]="['/explorer/transactions']">{{'TXNS'|translate}}</aer-sidebar-item>
    <aer-sidebar-item iconName="pending" [routerLink]="['/explorer/pending']">{{'PENDING_TXNS'|translate}}</aer-sidebar-item>
  </aer-sidebar-group>
</aer-sidebar>
<aer-toolbar>

</aer-toolbar>
<aer-content>
  <router-outlet></router-outlet>
</aer-content>