<aer-sidebar>
  <aer-sidebar-group title="Transaction" iconName="transaction">
    <aer-sidebar-item iconName="transaction" [routerLink]="['/transaction/create']">Basic transaction</aer-sidebar-item>
  </aer-sidebar-group>
  <aer-sidebar-group title="Staking" iconName="staking">

  </aer-sidebar-group>
  <aer-sidebar-group title="Contracts" iconName="contract">

  </aer-sidebar-group>
  <aer-sidebar-group title="Exchange" iconName="exchange">

  </aer-sidebar-group>
  <aer-sidebar-group title="ENS" iconName="ens">

  </aer-sidebar-group>
  <aer-sidebar-group title="Swap" iconName="swap">

  </aer-sidebar-group>
  <aer-sidebar-group title="KYC" iconName="kyc">

  </aer-sidebar-group>
</aer-sidebar>
<aer-toolbar>

</aer-toolbar>
<aer-content>
  <router-outlet></router-outlet>
</aer-content>