<aer-modal-dialog >
  <div class="o-confirm--seed">
    <h1>Warning</h1>
    <p>
      You should ONLY use the official Aerum client. 
    </p>
    <p>    
      Seed Words is the only one way to recover access to your account, treat it with care. 
    </p>
    <p>    
      Please be careful and never input your SEED into fake 'clients'. Otherwise your account will be compromised and you will lose all of your funds.
    </p>
    <p>
        <button type="submit" (click)="dismiss()">
            I Understand
        </button>       
    </p>
  </div>
</aer-modal-dialog>