@import '~@aerum/ui/core/styles/_theming.scss';
@import './styles/global.scss';

html, body{
  height: 100%;
  width: 100%;
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: #F5F5F5;
} 

/* DEFAULT FONT USED IN APP */
@font-face {
  font-family: OpenSans;
  src: url('fonts/open-sans/OpenSans-Regular.ttf');
}

a {
  text-decoration: unset;
  color: #2A669A;
}