.settings--form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .vertical--container {
        &.save--button {
            align-self: end;
        }
    }
}