.aens {
    &__info {
        display: flex;
        align-items: center;
    }

    &__separator {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &__name-info {
        margin-top: 5px;
        font-weight: bold;
        font-size: 20px;

        &--available {
            color: #8CCC67;
        }

        &--not-available {
            color: #733398;
        }
    }

    &__account-info {
        // TODO: This is temporary solution as grid doesn't do columns row the same for row
        padding-top: 55px;
    }

    &__price-info {
        // TODO: This is temporary solution as grid doesn't do columns row the same for row
        padding-top: 55px;
        display: -webkit-flex; /* Safari */
        display: flex;
        justify-content: space-between;
    }
}