<h3>Aerum Swaps</h3>
<aer-card>
  <aer-table [data]="swaps" [paginator]="true">
    <ng-template aerTemplate="header">
      <th id="id">Swap ID</th>
      <th id="counterparty">Counterparty</th>
      <th sortable id="currency">Amounts</th>
      <th sortable id="createdOn">Date</th>
      <th sortable id="status">Status</th>
    </ng-template>
    <ng-template aerTemplate="body" let-swap>
      <tr>
        <td class="link">{{swap.id}}</td>
        <td>{{swap.counterparty | truncate: 16}}</td>
        <td>{{swap.openValue}} {{swap.openAsset}} <aer-icon class="icon">angle-right</aer-icon> {{swap.closeValue}} {{swap.closeAsset}}</td>
        <td>{{swap.createdOn | date: 'dd MMM, yyyy, h:mm a'}}</td>
        <td>
          <span *ngIf="swap.state === 1" class="pending"><aer-icon class="icon">pending</aer-icon> Pending</span>
          <span *ngIf="swap.state === 2" class="closed"><aer-icon class="icon">check-square-o</aer-icon> Completed</span>
          <span *ngIf="swap.state === 3" class="cancelled"><aer-icon class="icon">exclamation-triangle</aer-icon> Cancelled</span>
        </td>
      </tr>
    </ng-template>
  </aer-table>
</aer-card>
