.icon {
  vertical-align: middle;
}

.pending {
  color: #458cc9;
}

.closed {
  color: #8ccc67;
}

.cancelled {
  color: #c9af45;
}

.btn-create-swap {
  margin-top: 25px;
  margin-bottom: 10px;
  display: block;
}
