

@font-face {
  font-family: 'open_sansbold';
  src: url('/assets/fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/open-sans/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanslight';
  src: url('/assets/fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/open-sans/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sansregular';
  src: url('/assets/fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'open_sanssemibold';
  src: url('/assets/fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/open-sans/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}