.sidebar_header {
  height: 104px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;

  .avatar {
    padding-left: 22px;
    margin-right: 10px;

    // WARNING: double code!
    // TODO: refactor to global this class
    .c-avatar__img {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-filter: brightness(2.2) saturate(2);
      filter: brightness(2.2) saturate(2);
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .user_data {
    .address {
      font-size: 15px;
      white-space: nowrap;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .welcome {
      font-size: 13px;
      font-weight: bold;
    }
  }

  .clearfix {
    clear: both;
  }

  &--toggled {
    justify-content: center;
    height: 50px;

    .user_data {
      display: none;
    }

    .avatar {
      padding: 0;
      margin: 0;
      .c-avatar__img {
        height: 30px;
        width: 30px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    justify-content: center;
    height: 50px;

    .user_data {
      display: none;
    }

    .avatar {
      padding: 0;
      margin: 0;
      .c-avatar__img {
        height: 30px;
        width: 30px;
      }
    }

    &--toggled {
      height: 104px;
      display: flex;
      justify-content: left;
      align-items: center;
      .avatar {
        padding-left: 22px;
        margin-right: 10px;

        // WARNING: double code!
        // TODO: refactor to global this class
        .c-avatar__img {
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-filter: brightness(2.2) saturate(2);
          filter: brightness(2.2) saturate(2);
          box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        }
      }

      .user_data {
        display: block;
        .address {
          font-size: 15px;
          white-space: nowrap;
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #42526e;
        }

        .welcome {
          font-size: 13px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}
