.sidebar_header {
  padding: 20px 10px 10px 10px;

  .avatar {
  //  float: left;
    width: 30%;

    // WARNING: double code!
    // TODO: refactor to global this class
    .c-avatar__img {
      width: 49px;
      height: 49px;
      overflow: hidden;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-filter: brightness(2.2) saturate(2);
      filter: brightness(2.2) saturate(2);
      box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);

      @media screen and (max-width: 1024px) and (min-width: 480px) {
        height: 30px;
        width: 30px;
      }
    }
  }

  .user_data,
  .avatar {
    display: inline-block;
    vertical-align: middle;
  }

  .user_data {
    color: white;
    font-size: 19px;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 1024px) and (min-width: 480px) {
      font-size: 10px;
    }

    span {
      color: #fff;
    }

    a {
      color: #fff;
    }

    .address {
      font-size: 16px;
      white-space: nowrap;
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .clearfix {
    clear: both;
  }
}


