.not-found {
  background: linear-gradient(241deg, #6D5A82, #EFB199);
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  
  .container {
    text-align: center;
    z-index: 3;
  }

  h1 {
    margin-bottom: 0px;
    font-size: 90px;
    font-weight: bold;
  }

  p {
    margin-top: 0;
    font-size: 18px;
  }

  aer-icon {
    font-size: 500px;
    z-index: 1;
  }

  .left {
    position: fixed;
	  top: -200px;
	  left: -200px;
  }

  .right {
    bottom: -350px;
	  right: -100px;
    position: fixed;
  }
}

@media only screen and (max-width: 1024px) {
  .not-found {
    aer-icon {
      font-size: 350px;
    }
    .left {
      position: fixed;
      top: -150px;
      left: -150px;
    }
  
    .right {
      bottom: -250px;
      right: -50px;
      position: fixed;
    }
  }
}

@media only screen and (max-width:480px) {
  .not-found {
    aer-icon {
      font-size: 250px;
    }
    .left {
      position: fixed;
      top: -80px;
      left: -80px;
    }
  
    .right {
      bottom: -160px;
      right: -30px;
      position: fixed;
    }
  }
}
