<h3>{{'SWAP.LOAD.TITLE'|translate}}</h3>

<div aerRow>
  <div aerColumn size="sm-6">
    <aer-card title="{{title|translate}}">
      <div aerRow>
        <div aerColumn size="sm-12">
          <div class="input-name">{{'SWAP.LOAD.FIELD_SWAP_ID'|translate}}</div>
          <aer-input [(ngModel)]="swapId" class="with-button" [ngClass]="{'blue': !processing}" buttonLabel="{{'SWAP.LOAD.BTN_LOAD'|translate}}" (buttonFn)="loadSwap()" (keyup)="onSwapIdChange()" [attr.disabled]="processing" ngDefaultControl></aer-input>
        </div>
      </div>
    </aer-card>
  </div>
</div>
